$i : !important;
$orange : #FFAA4E;
$main_colour : #de0000;

// bower:scss
@import "font-awesome/scss/font-awesome.scss";
// endbower

html, body{
  height: 100%;
  background-color: #f2f2f2 !important;
  font-family: Roboto,Helvetica Neue,sans-serif;
}

a{
  text-decoration: none;
  color: $main_colour;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    line-height: 1.1;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-weight: inherit;
}
h1 {
    font-size: 26px;
    line-height: 110%;
    margin: 1rem 0 1.68rem 0;
    color: #044ba2;
    font-weight: 300;
}
h2 {
    font-size: 3.56rem;
    line-height: 110%;
    margin: 1.78rem 0 1.424rem 0;
}
h3 {
    font-size: 2.92rem;
    line-height: 110%;
    margin: 1.46rem 0 1.168rem 0;
}
h4 {
    font-size: 2.28rem;
    line-height: 110%;
    margin: 1.14rem 0 0.912rem 0;
}
h5 {
    font-size: 1.3rem;
    line-height: 110%;
    margin: 0.82rem 0 0.656rem 0;
    color: #de1f26;
}
h6 {
    font-size: 1rem;
    line-height: 110%;
    margin: 0.5rem 0 0.4rem 0;
}
em {
    font-style: italic;
}
strong {
    font-weight: 500;
}
small {
    font-size: 75%}

body.docs-body {
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
    background-image: url(http://www.midcoastenergysystems.com/wp-content/uploads/2015/03/abstract1.jpg)
}

p,li{
    font-size: 15px;
    color: #626262;
}

li{
  padding: 5px 0px;
  font-size: 80%;
}

/* Status Colours */

/* new */
.s1,.new{
  background-color:#FFEB3B !important;
}
/* Ignited */
.s2{
  background-color:#FFC107 !important;
}
/* Burnning */
.s3{
  background-color:#FF9800 !important;
}
/* Burned */
.s4{
  background-color:#FF5722 !important;
}
/* Failed */
.s5{
  background-color: #000000 !important;
  color: #ff5722;
}


.red{
  color: $main_colour;
}

main{
  background: #f2f2f2;
}

md-toolbar:not(.md-menu-toolbar) {
    background-color: #3f8899;
    color: rgba(255,255,255,0.87);
}

.card{
    padding: 10px;
}

md-sidenav{
  background: white;
  
  md-content{

    background: white;

  }

}


md-toolbar{

.md-toolbar-tools {
  /*background: url(../images/header.jpg) !important;
  background-size: cover !important;*/

    padding-left: 5%;

  .fa{

    font-size: 30px;
    padding-right: 10px;
    text-shadow: 2px 1px 8px #d0a00d;
  }


}


.page-title{
  text-shadow: 2px 2px 11px #d0a00d;
  font-weight: 500;
  font-size: 28px;
  color: white;
  }

.page-title img{
    width: 44px;
    margin-bottom: -17px;
    position: relative;
    top: -6px;
}

}

.container{
  padding: 1% 3%;
  background: #fafafa;
  height: 100%;
}

v-pane-content.container{
  background: white;
}


@media only screen and (min-width: 993px){

.top-nav  .container {
      width: 90%;
  }

.top-nav .fa{
  margin-right: 1%;
font-size: 30px;
    position: relative;
    top: -6px;

}

}


ul.side-nav.fixed li a {
    font-size: 20px;
    line-height: 70px;
    height: 70px;
    padding: 0 30px;
  font-weight: 300;
}


.side-nav li>a>i, .side-nav li>a>[class^="mdi-"], .side-nav li>a>[class*="mdi-"], .side-nav li>a>i.material-icons {
    float: left;
    height: 70px;
    line-height: 70px;
    margin: 0 15px 0 0;
    width: 24px;
    color: #333333;
}

.spacer{
  height:10px;
}

.hidden, .disabled{
  display: none !important;
}

.collapsible-body {
    display: none;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    /*background: #f9f9f9;*/
}

.input-field .material-icons{
  position: absolute;
  right: 0;
  font-size: 20px;
  color: gray;
}

.input-field .material-icons:hover{
  cursor: pointer;
}

.btn{
  background: #206c8c !important;
    padding: 0px 15px !important;
    color: white $i;
}

.btn.red{
    background: #F44336 !important;
}

.btn.red.md-button[disabled]{
background: #ddd8d8 !important;
    color: #a7a3a3 !important;
}

.btn:hover.red{
    background: #2196F3 !important;
}

.btn.gray{
    background: #ececec !important;
    color: black !important;
}

.btn:hover.gray{
    background: #ececec !important;
}

.btn.white{
    background: white !important;
    color: #646262 $i;
}


.btn:hover.white{
    background: white !important;
}


.btn.orange,.btn:hover.orange{
    background: #FFA441 !important;
}

.btn.red,.btn:hover.red{
    background: #F44336 !important;
}

.btn:hover{
  background-color: #226D8D !important;
}

#logo{
    width: 130px;
    margin: 3% auto;
    display: block;
    /*padding-bottom: 10%;*/
}

.menu-icons{
  width: 35px;
  display: inline-block;
  margin-bottom: -7px;
  margin-left: -10px;
  padding-right: 14px;  
}

.iui-treeview-item-content-selected
{
  background-color: #2196F3 !important;
  border: thin solid #2196F3 !important;
  color: white;
}

.npw-icons
{
    background-image: url(../images/npw-custom-icons.png);
    background-repeat: no-repeat;
    display: inline-block;
    overflow: hidden;
    padding: 0 !important;
    margin: 0 1px 0 5px;
    width: 26px;
    height: 26px;
    vertical-align: middle;
}
.npwFolder {
  background-position: -3px -1px;
  background-size: 333px;
}

.npwDatafile {
    background-position: -74px -4px;
    background-size: 373px;
}

.npwDatameta {
    background-position: -40px -4px;
    background-size: 373px;
}

.iui-treeview-item-content {
    border-radius: 0 !important;
    padding: 0px 8px !important;
    margin-left: 5px !important;
    border-radius: 12px !important;
}

.iui-treeview {
    margin-top: 10px;
    margin-left: 10px;
    border: none;
    min-height: 300px;
}

.iui-treeview-item-hovered{
  background-color: white !important;
  color: #2196F3 !important;
  background: white !important;

}

.preloader-wrapper.big.active{
    min-width: 200px;
    min-height: 200px;
    margin: 10% auto;
    display: block;
}

.md-toolbar-tools{
    background: #eab71c !important;

    &.green{
      background: #009688 !important;
    }
    &.yellow{
      background: #FFC107 !important;
    }
    &.red{
      background: #F44336 !important;
    }

}

.meta-data-valid div{
    font-size: 23px;
}

.meta-data-valid i{
    color: #91df36;
    font-size: 101px;
    margin: auto;
    display: block;
    width: 96px;
    margin-top: 20px;
}

/*Opperations*/


.gb_uc {
    background-color: rgba(0,0,0,.55);
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    margin: 0px;
    padding: 2px 5px;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    height: 25px;
    width: 50px;
    display: inline-block;

}

.gb_uc:hover{

}

.status-red{
    background-color: #F44336;
}

.status-yellow{
    background-color: #FFC107;
}

.status-green{
    background-color: #009688;
}

.status-blue{
    background-color: #2196F3;
}

.disabled{
    display: none;
}



.streams td, .streams th{
    text-align: center;
}

th{

    font-size: 12px;
    text-transform: uppercase;


}


.card {
    position: relative;
    margin: 0.5rem 0 1rem 0;
    background-color: #fff;
    transition: box-shadow .25s;
    border-radius: 2px;
}

.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
}


 md-icon{
      color: #de0000;
    }


md-sidenav {
height: 100%;
width: 210px;
  .docs-menu li{
    line-height: 3;

    .oddMenuItem{
      color: black;
    }

    .fa, .md-icon{
      color: #e01f26;
    }

    .md-button{
      font-weight: 300;
    }

    a{
font-size: 20px;
    line-height: 55px;
    height: 55px;
    padding: 0 30px;
    font-weight: 300;
    color: #646262;
    display: block;
    text-decoration: none;

    i{
      color: #1D1D1B;
      padding-right: 15px;
    }

    }

  }
}
/*
.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    will-change: opacity, transform;
    transition: .3s ease-out;
}
*/
canvas#doughnut{
  display: block $i;
  margin: auto $i;  
    width: 80% $i;
    height: 80% $i;

 }

canvas.chart-bar{
  /*width: 80% $i;
  height: 80% $i; */
}

 .collapsible{
  padding: 0px;
  list-style-type: none;
 }

 .collapsible-header {
    display: block;
    cursor: pointer;
    min-height: 3rem;
    line-height: 3rem;
    padding: 0 1rem;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.docs-menu, .docs-menu ul {
    list-style: none;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
}

.docs-menu .md-button {
    border-radius: 0;
    cursor: pointer;
    display: block;
    align-items: inherit;
    margin: 0;
    overflow: hidden;
    text-align: left;
    text-decoration: none;
    white-space: normal;
    width: 100%;
    text-transform: none;
}

.docs-menu menu-toggle .md-button{

  padding-top: 10px;
  padding-bottom: 10px;

}

.docs-menu menu-toggle ul li .md-button{

  padding-left: 50px;
  line-height: 2;

}

#paper{
  position: relative;
  width: inherit;
  display: block;
  border: 0;
  margin-bottom: 3px;
  text-align: center;
  height: 300px;
  background-image: url(../images/monitorbg.png);
  background-size: 100% 100%;
}

#paper>svg {
    overflow: visible;
}

.stats{
  margin-top: 10px;

  div{
    outline: none;
  }

  div:hover{
    cursor: pointer;  
  }


}

.opart{

 border-radius: 5px;
 padding: 10px;
 position: absolute;
 display: block;

  &.opartsm{
      width: 18%;
      height: 60px;
      background: whitesmoke;
  }
  &.opartlg{
      width: 20%;
      height: 75px;
      background: aliceblue;
  }

  &#streams{
    
    top: 12%;
    left: 5%

  }

  &#batch{
    top: 58%;
    left: 5%;
  }

  &#ofz{

    left: 38%;
    top: 35%;
    
  }


  &#tsz{

    left: 70.2%;
    top: 35%;

  }

}

/*
  .line {
      width: 1px;
      background-color: gray;
      position: absolute;
  }

  #line1 {
    top: 19%;
    left: 31%;
    height: 20%;

      transform: rotate(70deg);
      -webkit-transform: rotate(70deg);
      -ms-transform: rotate(70deg);
  }


  #line2 {
    top: 9%;
    left: 31%;
    height: 20%;

      transform: rotate(110deg);
      -webkit-transform: rotate(110deg);
      -ms-transform: rotate(110deg);
  }

    #line3 {
    top: 14%;
    left: 66%;
    height: 20%;
      transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
  }

  */

.md-tab.md-active{
  color: $orange $i;
}

md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar{
      color: $orange;
    background: $orange;
}


#paper-html-elements {
    position: relative;
    border: 1px solid gray;
    display: inline-block;
    background: transparent;
    overflow: hidden;
}
#paper-html-elements svg {
    background: transparent;
}
#paper-html-elements svg .link {
    z-index: 2;
}
.html-element {
    position: absolute;
    background: #bfe0e8;
    /* Make sure events are propagated to the JointJS element so, e.g. dragging works.*/
    pointer-events: none;
    -webkit-user-select: none;
    border-radius: 4px;
    /*border: 2px solid #2980B9;*/
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
    padding: 5px;
    box-sizing: border-box;
    z-index: 2;
}
.html-element select,
.html-element input,
.html-element button {
    /* Enable interacting with inputs only. */
    pointer-events: auto;
}

.sm-btn{
  padding: 5px 2px !important;
  height: 20px;
  min-height: 16px;
  line-height: 21px;
  font-size: 12px;
}

.sm-tbl-btn{
  padding: 5px 10px !important;
  height: 20px;
  min-height: 16px;
  line-height: 21px;
  font-size: 10px;
  text-align: left;
  min-width: auto;
  .fa{
    padding-left: 3px;
    font-size: 17px;
  }
}

.html-element button.delete {
    color: white;
    border: none;
    background-color: #C0392B;
    border-radius: 20px;
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: middle;
    position: absolute;
    top: -15px;
    left: -15px;
    padding: 0;
    margin: 0;
    font-weight: bold;
    cursor: pointer;
}
.html-element button.delete:hover {
    width: 20px;
    height: 20px;
    line-height: 20px;
}
.html-element select {
    position: absolute;
    right: 2px;
    bottom: 28px;
}
.html-element input {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border: none;
    color: #333;
    padding: 5px;
    height: 16px;
}
.html-element label {
    color: #333;
    text-shadow: 1px 0 0 lightgray;
    font-weight: bold;
}
.html-element span {
    position: absolute;
    top: 2px;
    right: 9px;
    color: white;
    font-size: 10px;
}


oi-select .select-search-list-item_selection {
    white-space: blue !important;
    background-color: $main_colour !important;
    border-radius: 4px;
    padding: 4px 10px !important;
    color: white !important;

    &:focus{
          outline: none !important;
    }

    &:hover{

        background: lighten($main_colour, 5%) !important;
    }
}

.securityItemsCount{
  margin-top: 25px;
}

md-checkbox.md-default-theme:not([disabled]).md-primary.md-checked .md-icon, md-checkbox:not([disabled]).md-primary.md-checked .md-icon {
    background-color: #de1f26;
}

md-radio-button{
      outline: none;
}

.toolong{
  label{
    /*position: initial !important;*/
    color: gray;
    font-size: 14px;
  }
}

.md-button-toggle .md-toggle-icon.toggled {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
}

.md-button-toggle .md-toggle-icon {
    display: block;
    margin-left: auto;
    speak: none;
    vertical-align: middle;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transition: transform 0.3s ease-in-out;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
}

.hiddenWidget{
  display: none;
}

.item-name{
  padding-bottom: 10px;
  color: #206c8c;
    text-align: center;
    margin-bottom: 10px;  
}

.chart-meta{
    line-height: 0.5;
    margin-top: 20px;
    display: block;
  p{
    font-size: 13px;
  }
}

#widgets{
    p, th, td{
      font-size: 12px;
      color: #626262;
    }  
    th{
      font-weight: 600;
      text-transform: capitalize;
    }  
}

md-dialog .md-toolbar-tools {
  background-image: none $i;
  background: #3fa9f5 $i;
}

md-checkbox.md-checked .md-icon {
background-color: rgb(255, 172, 82);
}

switch.md-checked .md-thumb {
    background-color: rgb(63, 169, 245);
}

md-switch.md-default-theme.md-checked .md-ink-ripple, md-switch.md-checked .md-ink-ripple {
  color: #03A9F4 $i;
}

md-switch.md-default-theme.md-checked .md-thumb, md-switch.md-checked .md-thumb {
  background-color: #03A9F4 $i;
}


md-switch.md-default-theme.md-checked .md-bar, md-switch.md-checked .md-bar {
    background-color: rgba(33,150,243,0.5);
}

.md-toast-content.reg {
    background-color: #2196F3 $i;
}
md-toast.reg .md-toast-content{
  background-color: #2196F3 $i;

}

md-toast.error .md-toast-content{
    background-color: #F44336 $i;

}

md-toast.success .md-toast-content{
    background-color: #ffeb3b $i;
    color: #de1f26;
    button span{
      color: #de1f26 $i;

    }

}

md-toast.md-default-theme .md-toast-content .md-button.md-highlight, md-toast .md-toast-content .md-button.md-highlight {
    color: white;
}



.display-flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

.flex-5 {
  flex: 5;
}

.flex-6 {
  flex: 6;
}

[class*="flex-"] {
  padding-left: 10px;
  padding-right: 10px;
}

[class*="flex-"]:first-child {
  padding-left: 0;
}

[class*="flex-"]:nth-last-child(2) {
  padding-right: 0;
}

div md-input-container {
  width: 100%;
}

/* fix pagination on jobs table */

mdt-table .mdt-pagination md-select{
    width: 50px;
}
mdt-table .mdt-pagination md-input-container{
    width: 80px;
}

.mdtTableContainer .mdtTable, .mdtTableContainer .mdt-header {
    background: white;
}

.errormsg,.successmsg {
margin: 10px 0px;
padding:15px 10px 15px 50px;
background-repeat: no-repeat;
background-position: 10px center;
}
.errormsg {
color: #D8000C;
background-color: #FFFBA;
}
.successmsg {
color: #4F8A10;
background-color: #DFF2BF;
}
.successmsg.ng-hide-add {
-webkit-animation:0.5s hide;
animation:0.5s hide;
}
@keyframes hide {
0% {
opacity:1;
transform: scale(1);
}
30% {
transform: scale(1.02);
}
100% {
opacity:0;
transform: scale(0.5);
}
}
@-webkit-keyframes hide {
0% {
opacity:1;
transform: scale(1);
}
30% {
transform: scale(1.02);
}
100% {
opacity:0;
transform: scale(0.5);
}
}

md-tabs[md-border-bottom] md-tabs-wrapper {
    border-style: none;
}

// remove shadow from tables, so card can do the job with button inside
.mdtTableContainer.md-whiteframe-1dp,.mdtTableContainer.md-whiteframe-z1{
  box-shadow: none;
}

.COMPLETED{
    color: #0f0f0f;
    background: lime;
    padding: 6px;
}

.COMPLETED{
    color: #0f0f0f;
    background: lime;
    padding: 6px;
}

.FAILED{
    color: white;
    background: #F44336;
    padding: 6px;
}

.STOPPED{
    color: white;
    background: #FFC107;
    padding: 6px;
}

.mdtTableContainer {
    text-align: center !important;
}


/*
    Steven Spungin <steven@spungin.tv>
    Use box sizing to cause (text input and area) to fit within parent div instead of using 99% width hack
*/

/* Layout helpers
----------------------------------*/
.xml_editor_container .ui-helper-hidden { display: none; }
.xml_editor_container .ui-helper-hidden-accessible { position: absolute; left: -99999999px; }
.xml_editor_container .ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.xml_editor_container .ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.xml_editor_container .ui-helper-clearfix { display: inline-block; }
.ui-helper-hidden-accessible { display: none; }
/* required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix { height:1%; }
.xml_editor_container .ui-helper-clearfix { display:block; }
/* end clearfix */
.xml_editor_container .ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }

.xml_editor_container {
  position: relative;
}

.xml_dialog.ui-dialog {
  position: absolute;
  top: 0;
  left: 0;
  padding: .2em;
  outline: 0;
  border-radius : 6px;
  font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
  font-size: 14px;
}
.xml_dialog .ui-dialog-titlebar {
  padding: .4em 1em;
  position: relative;
}
.xml_dialog .ui-dialog-title {
  float: left;
  margin: .1em 0;
  white-space: nowrap;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.xml_dialog .ui-dialog-titlebar-close {
  position: absolute;
  top: 50%;
  margin: -10px 0 0 0;
  padding: 1px;
  height: 20px;
}
.xml_dialog .ui-dialog-content {
  position: relative;
  border: 0;
  padding: .5em 1em;
  background: none;
  overflow: auto;
  clear: both;
}
.xml_dialog .ui-dialog-buttonpane {
  text-align: left;
  border-width: 1px 0 0 0;
  background-image: none;
  margin-top: .5em;
  padding: .3em 1em .5em .4em;
}
.xml_dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
  float: right;
}
.xml_dialog .ui-dialog-buttonpane button {
  margin: .5em .4em .5em 0;
  cursor: pointer;
}
.xml_dialog .ui-icon {
  display: block;
  padding: .4em .3em;
}
.xml_dialog .ui-resizable-se {
  width: 12px;
  height: 12px;
  right: -5px;
  bottom: -5px;
  background-position: 16px 16px;
}

.ui-draggable .ui-dialog-titlebar {
  cursor: move;
}

.ui-widget-overlay {
  background-color: #777777;
  opacity: .3;
  filter: Alpha(Opacity=30);
  position: absolute;
  top: 0;
  left: 0;
}

.ui-widget-content {
  border: 1px solid #aaaaaa;
  background: #ffffff;
}

.xml_export_filename {
  width: 160px;
}

/****************/

.xml_text_node {
  /*border-radius: 5px;*/
  position: relative;
  padding: 0;
  width: 100%;
  border: 1px solid #cccfdd;
}

.xml_text_node.selected {
  background-color: #c4eff5;
}

.xml_text_node + .xml_text_node {
  border-top-width: 0;
}

.xml_text_node .xml_input_column {
  box-shadow: -2px 2px 2px #ddddee inset;
  border-right: 1px solid #ddd;
  width: calc(100% - 27px);
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background-color: #F0F8FF;
}

.xml_text_node .xml_input_column textarea, .xml_text_node .xml_input_column input {
  background: transparent;
  border: none;
  width: 100%;
  margin: 0;
  min-height: 3em;
  overflow-y: auto;
}

.xml_text_node .xml_input_column input {
  min-height: 1.5em;
}

.xml_text_node .xml_delete {
  position: absolute;
  right: 4px;
  top: 4px;
  background-color: #e4e4e4;
    border-radius: 2px;
    padding: 2px 5px;
  border: 1px solid #aaaabb;
  font-size: 11px;
  color: #4C4C4C;
  font-weight: 400;
  vertical-align: 50%;
  cursor: pointer;
}

.xml_text_node .xml_type_header {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 5px;
  display: block;
  font-weight: bold;
  cursor: default;
}

.xml_text_node.xml_comment_node .xml_type_header {
  color : #B6B5BE;
}

.xml_input, .xml_select, .xml_textarea {
  max-width: 100%;
  display: block;
  font-size: 13px;
}

.xml_input {
  box-sizing: border-box;
  height: 25px;
}

.xml_select {
  height: 25px;
  min-width: 120px;
}

.xml_textarea, .textareaClone {
  max-height: 18em;
  box-sizing: border-box;
  resize: vertical;
  font-size: 13px;
  padding: 4px 0 0 5px;
}

.xml_textarea:focus, .xml_input:focus {
  border: 1px solid #09C;
}

/* Element */
.top_level_element_group {
  margin: 8px 0 20px 0px;
}

.xml_element {
  border: 1px solid #aaaabb;
  font-size: 14px;
  box-shadow: 4px 3px 3px 0 #CCE8F1;
  margin-bottom: 10px;
  background-color: #fff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.xml_element.xml_root_element {
  margin-top: 10px;
  border: 1px solid #bbbbcc;
}

/*.xml_root_element > .content_block.xml_children {
  padding: 0;
}*/

.xml_children > .xml_element {
  margin-bottom: 20px;
}

.xml_children > .xml_element:last-child {
  margin-bottom: 0px; 
}

.top_level_element_group.xml_element {
  margin-left: 0px;
}

.element_header {
  padding: 4px 1px 1px 7px;
  line-height: 22px;
  height: 22px;
  -webkit-border-radius: 6px 6px 0px 0px;
  -moz-border-radius: 6px 6px 0px 0px;
  border-radius: 6px 6px 0px 0px;
  border-bottom: 1px solid #bbbbbb;
  margin-bottom: 12px;
}

.xml_element.collapsed .element_header {
  margin-bottom: 0;
  -webkit-border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
}

.xml_root_element > .element_header {
  background-color: #eeeeee;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#eeeeee));
  background: -moz-linear-gradient(top,  #FFFFFF,  #eeeeee);
  background: linear-gradient(to bottom,  #FFFFFF,  #eeeeee);
}

.top_level_element_group > .element_header {
  background-color: #dddddd;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#dddddd));
  background: -moz-linear-gradient(top,  #FFFFFF,  #dddddd);
  background: linear-gradient(to bottom,  #FFFFFF,  #dddddd);
}

.top_level_element_group > div > .xml_children > .xml_element > .element_header {
  background-color: #e9e9eb;
  background: -webkit-gradient(linear, left top, left bottom, from(#FAFFFF), to(#e9e9eb));
  background: -moz-linear-gradient(top,  #FAFFFF,  #e9e9eb);
  background: linear-gradient(to bottom,  #FAFFFF,  #e9e9eb);
}

.top_level_element_group > div > .xml_children > .xml_element > div > .xml_children > .xml_element > .element_header {
  background-color: #f1f1f3;
  background: -webkit-gradient(linear, left top, left bottom, from(#F5FFFF), to(#f1f1f3));
  background: -moz-linear-gradient(top,  #F5FFFF,  #f1f1f3);
  background: linear-gradient(to bottom,  #F5FFFF,  #f1f1f3);
}

.top_level_element_group > div > .xml_children > .xml_element > div > .xml_children > .xml_element > div > .xml_children > .xml_element > .element_header {
  background-color: #f5f5f9;
  background: -webkit-gradient(linear, left top, left bottom, from(#F0FFFF), to(#f5f5f9));
  background: -moz-linear-gradient(top,  #F0FFFF,  #f5f5f9);
  background: linear-gradient(to bottom,  #F0FFFF,  #f5f5f9);
}

.xml_element.selected,.xml_text_node.selected {
  /*border: 1px solid #EB8F00;
  box-shadow: 0px 0px 6px 1px #FBD850;*/
  /*background-color: #3fa9f5;*/
}

.xml_root_element.selected {
  box-shadow: 3px 3px 6px 0 #F9E59A;
}

.xml_element.selected > .element_header {
  background-color: #A4CABB !important;
  background: -webkit-gradient(linear, left top, left bottom, from(#C4E9EE), color-stop(0.5, #5ECFE6), to(#76B6E1)) !important;
  background: -moz-linear-gradient(top,  #C4E9EE, #5ECFE6, #76B6E1) !important;
  background: linear-gradient(to bottom,  #C4E9EE,  #5ECFE6, #76B6E1) !important;
}

.xml_root_element > .element_header > .element_name {
  font-size: 16px;
  color: #666677;
}

.top_level_element_group.xml_element > .element_header > .element_name {
  font-size: 16px;
}

.element_header {
  font-weight: bold;
  color: #445;
}

.element_name {
  min-width: 100px;
  font-size: 14px;
  float: left;
}

.selected > .element_header > .element_name {
  color: #442222;
}

.element_header > .top_actions {
  text-align: right;
  margin-top: -2px;
}

.element_header > .top_actions > span {
  padding: 2px 5px;
  border: 1px solid #aaaabb;
  border-radius: 2px;
  font-size: 11px;
  margin: 0px 2px;
  background-color: #eee;
  color: #4C4C4C;
  font-weight: 400;
  vertical-align: 50%;
  cursor: pointer;
}

.element_header > .top_actions > span:hover {
  background-color: #ddf;
}

.placeholder {
  display: block;
  font-style: italic;
  color: #bbb;
  font-size: 13px;
  padding: 0px 10px 10px 10px;
}

.xml_content > .placeholder, .xml_element > .xml_children > .placeholder {
  display: none;
}

.xml_content > .placeholder:last-child, .xml_element > .xml_children > .placeholder:last-child  {
  display: block;
  font-style: italic;
  color: #bbb;
  font-size: 13px;
  padding: 5px;
}

.element_header .edit_title, .xml_attr_stub label {
  min-width: 160px;
  height: 1.3em;
  padding: 2px 7px;
  border: 1px solid #eee;
  background-color: #fff;
  display: inline-block;
}

.xml_stub.selected .element_header .edit_title {
  background-color: #D4F1F5;
  border-color: #5ECFE6;
  box-shadow: 2px 2px 2px #CBDBDF inset;
  
}

.xml_stub .element_header {
  margin-bottom: 0;
  padding-bottom: 5px;
  border-radius: 6px 6px 6px 6px;
}

.xml_stub .element_header .top_actions > span {
  vertical-align: middle;
}

.xml_stub .create_element {
  display: inline-block;
  margin-left: 10px;
  font-weight: 400;
  cursor: pointer;
  color: #667;
  vertical-align: top;
  text-decoration: underline;
}

.xml_autocomplete {
  overflow-x: hidden;
  max-height: 8em;
  box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.15);
}

.xml_autocomplete .ui-menu-item {
  padding: 2px 7px;
}

.xml_autocomplete .ui-menu-item span {
  font-weight: bold;
}

.xml_autocomplete .ui-state-focus {
  background-color: #eef;
}

.xml_attr_stub .create_attr { 
  text-decoration: underline;
}

/* Attributes */

.attribute_container {
  display: inline-block;
  *zoom: 1;
  *display: inline;
  margin-right: 20px;
  padding: 2px;
}

.attribute_container.selected {
  background-color: #DDDDFF;
  box-shadow: 0 0 6px 1px #DDDDFF;
  border-radius: 6px;
}

.attribute_container > label {
  font-weight: bold;
  line-height: 1.5em;
  margin-right: 5px;
  vertical-align: 28%;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  min-width: 90px;
}

.attribute_container > textarea {
  display: inline;
  resize: horizontal;
  min-width: 100px;
  height: 1.5em;
  width: 160px;
  overflow: hidden;
}

.attribute_container > select {
  vertical-align: 45%;
  width: 166px;
  display: inline-block;
  *zoom: 1;
  *display: inline;
}

.attribute_container > a, .attribute_container .create_attr {
  color: #1C94C4;
  vertical-align: 45%;
  cursor: pointer;
}

.attribute_container > a:hover {
  color: #44468a;
}

.xml_element .content_block {
  padding: 20px 40px 20px 40px;
  /*border-top: 1px solid #bbb;*/
}


.xml_element.xml_root_element {
border: none !important;
}

.xml_element.selected{
  border: 1px solid rgb(63, 169, 245) !important;
  box-shadow: 0 2px 2px 0 rgba(63, 169, 255, 0.34), 0 1px 5px 0 rgba(63, 169, 255, 0.25), 0 3px 1px -2px rgba(63, 169, 255, 0.3) !important;
}

.content_block + .content_block {
  padding-top: 0px;
}

.xml_text_node + .xml_element {
  margin-top: 20px;
}

/* Menu */

.xml_menu_column {
  width: 170px;
  padding-left: 15px;
  height: 100%;
  z-index: 1000;
}

.xml_menu_container {
}

.xml_submit_status {
  display: block;
  margin: 5px 0px;
}

.send_xml {
  margin: 5px 0px 10px 0px;
}

.menu_content {
  background-color: #ffffff;
  background-image: -moz-linear-gradient(left, #dddddd, #ffffff);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dddddd', endColorstr='#ffffff', GradientType=1);
  background-image: -webkit-gradient(linear, left top, right top, from(#dddddd), to(#ffffff));
  background-image: -ms-linear-gradient(left, #dddddd, #ffffff);
  background: linear-gradient(to right,  #dddddd,  #ffffff);
  border-left: 1px solid #bbb;
  margin: 0;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  user-select: none;
}

.menu_content li {
  padding: 3px 3px 2px 10px;
  background-color: #ffffff;
  cursor: pointer;
  margin: 0 0 1px 0;
  text-indent: 0;
}

.menu_content li:hover {
  background-color: #F0F8FF;
}

.menu_content li.disabled {
  background-color: #bbbbbb;
  color: #555555;
}

.menu_header {
  font-size: 14px;
  padding: 5px;
  background-repeat: repeat-x;
  background-position: left 0px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#dddddd');
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#dddddd));
  background: -moz-linear-gradient(top,  #FFFFFF,  #dddddd);
  background: linear-gradient(to bottom,  #FFFFFF,  #dddddd);
  border: 1px solid #aaaabb;
}

.menu_header.disabled { 
  color: #999999;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cccccc');
  background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#cccccc));
  background: -moz-linear-gradient(top,  #eeeeee,  #cccccc);
  background: linear-gradient(to bottom,  #eeeeee,  #cccccc);
}

.menu_header span {
  color: #aaa;
  float: right;
}

/*.xml_content {
  padding: 5px 0px 5px 5px;
}*/

/* Head tabs */

.xml_work_area, .xml_tab_area {
  background-color: #fff;
  border: 0;
}

/* XML editor */
.xml_tab_area {
  background-color: #ffffff;  
}

.text_content {
  line-height: 16px;
  padding: 5px 18px 0 0;
}

.xml_tab_area .gui_content { 
  padding: 3px 0 0 0;
  background-color: #fafafa;
  min-height: 600px;
}

.highlighted {
  background-color: #ffff00;
  position: absolute;
  box-shadow: 0 0 2px 2px #eeeeee;
}

.xml_problems_panel {
  background-color: #ffeeee;
  padding: 5px;
  white-space: pre-wrap;
  margin: 5px 0px;
}

/* Menu bar */

.xml_editor_header {
  position: absolute;
  background-color: #ffffff;
  z-index: 1000;
  width: inherit;
  border-bottom: 1px solid #eeeeee;
  padding-right: 2px;
  padding-top: 4px;
}

.xml_editor_header > h2 {
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 18px;
  white-space: nowrap;
  margin-bottom: 10px;  
}

.xml_editor_header_backing {
  position: absolute;
  background-color: #ffffff;
  z-index: 999;
  width: 100%;
  background-color: #ffffff;
}

.xml_menu_bar {
  margin-bottom: 3px;
  overflow: auto;
  width: inherit;
}

.xml_menu_bar > ul {
  margin: 0;
}

.xml_menu_bar > ul > li {
  display: inline-block;
  *zoom: 1;
  *display: inline;
  font-size: 14px;
  margin: 0;
  text-indent: 0px;
}

.xml_menu_bar > ul > li > a > span {
  padding: 6px 8px;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  user-select: none;
  *zoom: 1;
  *display: inline;
}

.xml_menu_bar > ul > li > a > span:hover {
  background-color: #eeeeee;  
}

.xml_menu_bar > ul > li > ul {
  display: none;
}

.xml_menu_bar.active > ul > li:hover > a > span {
  padding: 5px 7px;
  border: 1px solid #bbbbcc;
  border-bottom: 0px;
  z-index: 1002; 
  background-color: #fff;
  position: relative;
}

.xml_menu_bar.active > ul > li:hover {
  box-shadow: 0 2px 4px #555555;
}

.xml_menu_bar > ul > li .over_shadow {
  padding: 5px;
  position: relative;
  background-color: #ffffff;
}

.xml_menu_bar.active > ul > li:hover > ul {
  margin-top: -1px;
  position: absolute;
  width: 280px;
  display: block;
  box-shadow: 0 2px 4px #555555;
  border: 1px solid #bbbbcc;
  z-index: 1001;
  background-color: #fff;
}

.xml_menu_bar.active > ul > li > ul > li {
  padding: 5px 7px;
  cursor: pointer;
}

.xml_menu_bar.active > ul > li > ul > .disabled {
  color: #B4B7BA;
  cursor: default;
}

.xml_menu_bar.active > ul > li > ul > li:hover {
  background-color: #eeeeee;  
}
 
.xml_menu_bar.active .binding {
  float: right;
  font-style: italic;
}

.xml_menu_bar.xml_bindings_disabled .binding {
  display: none;
}

.xml_menu_bar .header_mode_tab {
  border: 1px solid #BBBBBB;
  float: right;
  margin-left: 10px;
  margin-right: 0px;
  transition: border-color 0.2s linear 0s, box-shadow 0.2s linear 0s, color 0.2s linear 0s;
}

.xml_menu_bar .active_mode_tab {  
  border: 1px solid #FBD850;
  color: #EB8F00;
  box-shadow: 0 0 3px #E5E5E5 inset, 0 0 3px #FBD850;
}

.xml_menu_bar .sub_menu > li > .xml_menu_check {
  display: inline-block;
  *zoom: 1;
  *display: inline;
  width: 1em;
}

/* Default templating */
.template-form.jquery-editor-no-close .ui-dialog-titlebar-close {
  display: none;
}

.ui-dialog.template-form  {
  border-radius: 6px;
  font-size: 18px;
}

.template-form .ui-dialog-titlebar {
  background : transparent linear-gradient(to bottom, #FFF, #DDD) repeat scroll 0% 0%;
  padding: 8px 10px;
  border-radius: 6px 6px 0px 0px;
  border-bottom: 1px solid #BBB;
  margin-bottom: 6px;
  font-weight: bold;
  font-size: 1.2em;
  color: #445;
}

.template-form .ui-dialog-content {
  padding: 10px;
  border: none;
  overflow: auto;
}

.template-form .ui-dialog-buttonpane {
  text-align: right;
  padding: 6px;
  border: none;
  background: none;
  border-top: 1px solid #AAA;
}

.template-form .ui-button {
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid #aaa;
  margin-left: 10px;
  background-color: #eee;
  font-size: 1em;
}

.templating {
  height: auto;
  border: 1px solid #d3d3d3;
  padding: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
}

.templating a {
  text-decoration: none;
  font-weight: bold;
  pointer-events: none;
  color: #000;
  clear: both;
}

.templating a span {
  font-weight: normal;
  font-size: .8em;
  display: block;
  margin-top: 5px;
  line-height: 1.2em;
}

.templating div {
  min-height: 36px;
}

.template-form .focus {
  background-color: #eee;
  border-color: lightslategray;
}

body + .template-form {
  display: none;
}

md-content.md-default-theme, md-content {
    color: rgba(0,0,0,0.87);
    background-color: white;
}

.display-flex {

  videogular {
      height: auto;
      background-color: white;
  }

  button{
      display: block !important;
      margin: 15px auto;
  }

  .template{
    padding: 10px;
    margin: 10px;
  }

}

.status_message{
  padding: 7px 12px;
  display: table;
  margin: 5px;
  border-radius: 8px;
  background-color: #e8e5e5;
}


md-input-container.md-default-theme:not(.md-input-focused):not(.md-input-invalid) label.md-required:after, md-input-container:not(.md-input-focused):not(.md-input-invalid) label.md-required:after {
    color: red;
}

.previewImg{
  width: 90%;
    display: block;
    padding: 0 12px;
    max-width: 500px;
    padding-top: 10px;
}

