html, body {
  height: 100%;
  background-color: #f2f2f2 !important;
  font-family: Roboto,Helvetica Neue,sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 1.1; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit; }

h1 {
  font-size: 4.2rem;
  line-height: 110%;
  margin: 2.1rem 0 1.68rem 0; }

h2 {
  font-size: 3.56rem;
  line-height: 110%;
  margin: 1.78rem 0 1.424rem 0; }

h3 {
  font-size: 2.92rem;
  line-height: 110%;
  margin: 1.46rem 0 1.168rem 0; }

h4 {
  font-size: 2.28rem;
  line-height: 110%;
  margin: 1.14rem 0 0.912rem 0; }

h5 {
  font-size: 1.1rem;
  line-height: 110%;
  margin: 0.82rem 0 0.656rem 0;
  color: #686666; }

h6 {
  font-size: 1rem;
  line-height: 110%;
  margin: 0.5rem 0 0.4rem 0; }

em {
  font-style: italic; }

strong {
  font-weight: 500; }

small {
  font-size: 75%; }

body.docs-body {
  overflow: hidden;
  max-width: 100%;
  max-height: 100%; }

p {
  font-size: 15px;
  color: #626262; }

main {
  background: #f2f2f2; }

md-toolbar:not(.md-menu-toolbar) {
  background-color: #3f8899;
  color: rgba(255, 255, 255, 0.87); }

.card {
  padding: 10px; }

md-toolbar .md-toolbar-tools {
  background: url(../images/header.jpg) !important;
  background-size: cover !important;
  max-height: 100px;
  height: 100px;
  padding-left: 5%; }
  md-toolbar .md-toolbar-tools .fa {
    font-size: 30px;
    padding-right: 10px;
    text-shadow: 2px 1px 8px #404040; }
md-toolbar .page-title {
  text-shadow: 2px 1px 8px #404040;
  font-weight: 300;
  font-size: 35px;
  color: white; }
md-toolbar .page-title img {
  width: 44px;
  margin-bottom: -17px;
  position: relative;
  top: -6px; }

.container {
  padding: 1% 3%;
  background: #fafafa; }

v-pane-content.container {
  background: white; }

@media only screen and (min-width: 993px) {
  .top-nav .container {
    width: 90%; }

  .top-nav .fa {
    margin-right: 1%;
    font-size: 30px;
    position: relative;
    top: -6px; } }
ul.side-nav.fixed li a {
  font-size: 20px;
  line-height: 70px;
  height: 70px;
  padding: 0 30px;
  font-weight: 300; }

.side-nav li > a > i, .side-nav li > a > [class^="mdi-"], .side-nav li > a > [class*="mdi-"], .side-nav li > a > i.material-icons {
  float: left;
  height: 70px;
  line-height: 70px;
  margin: 0 15px 0 0;
  width: 24px;
  color: #333333; }

.spacer {
  height: 10px; }

.hidden, .disabled {
  display: none !important; }

.collapsible-body {
  display: none;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  /*background: #f9f9f9;*/ }

.input-field .material-icons {
  position: absolute;
  right: 0;
  font-size: 20px;
  color: gray; }

.input-field .material-icons:hover {
  cursor: pointer; }

.btn {
  background: #206c8c !important;
  padding: 0px 15px !important;
  color: white !important; }

.btn.blue {
  background: #2196F3 !important; }

.btn:hover.blue {
  background: #2196F3 !important; }

.btn.gray {
  background: #ababab !important; }

.btn:hover.gray {
  background: #ababab !important; }

.btn.white {
  background: white !important;
  color: #646262 !important; }

.btn:hover.white {
  background: white !important; }

.btn.orange, .btn:hover.orange {
  background: #FFA441 !important; }

.btn:hover {
  background-color: #226D8D !important; }

#logo {
  width: 170px;
  margin: auto;
  display: block;
  padding-bottom: 10%; }

.menu-icons {
  width: 35px;
  display: inline-block;
  margin-bottom: -7px;
  margin-left: -10px;
  padding-right: 14px; }

.iui-treeview-item-content-selected {
  background-color: #2196F3 !important;
  border: thin solid #2196F3 !important;
  color: white; }

.npw-icons {
  background-image: url(../images/npw-custom-icons.png);
  background-repeat: no-repeat;
  display: inline-block;
  overflow: hidden;
  padding: 0 !important;
  margin: 0 1px 0 5px;
  width: 26px;
  height: 26px;
  vertical-align: middle; }

.npwFolder {
  background-position: -3px -1px;
  background-size: 333px; }

.npwDatafile {
  background-position: -74px -4px;
  background-size: 373px; }

.npwDatameta {
  background-position: -40px -4px;
  background-size: 373px; }

.iui-treeview-item-content {
  border-radius: 0 !important;
  padding: 0px 8px !important;
  margin-left: 5px !important;
  border-radius: 12px !important; }

.iui-treeview {
  margin-top: 10px;
  margin-left: 10px;
  border: none;
  min-height: 300px; }

.iui-treeview-item-hovered {
  background-color: white !important;
  color: #2196F3 !important;
  background: white !important; }

.preloader-wrapper.big.active {
  min-width: 200px;
  min-height: 200px;
  margin: 10% auto;
  display: block; }

.md-toolbar-tools {
  background: #3fa9f5 !important; }
  .md-toolbar-tools.green {
    background: #009688 !important; }
  .md-toolbar-tools.yellow {
    background: #FFC107 !important; }
  .md-toolbar-tools.red {
    background: #E91E63 !important; }

.meta-data-valid div {
  font-size: 23px; }

.meta-data-valid i {
  color: #91df36;
  font-size: 101px;
  margin: auto;
  display: block;
  width: 96px;
  margin-top: 20px; }

/*Opperations*/
.gb_uc {
  background-color: rgba(0, 0, 0, 0.55);
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
  margin: 0px;
  padding: 2px 5px;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  height: 25px;
  width: 50px;
  display: inline-block; }

.status-red {
  background-color: #E91E63; }

.status-yellow {
  background-color: #FFC107; }

.status-green {
  background-color: #009688; }

.status-blue {
  background-color: #2196F3; }

.disabled {
  display: none; }

.streams td, .streams th {
  text-align: center; }

th {
  font-size: 12px;
  text-transform: uppercase; }

.card {
  position: relative;
  margin: 0.5rem 0 1rem 0;
  background-color: #fff;
  transition: box-shadow .25s;
  border-radius: 2px; }

.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }

md-sidenav {
  height: 100%; }
  md-sidenav .docs-menu li {
    line-height: 3; }
    md-sidenav .docs-menu li .oddMenuItem {
      color: #646262; }
    md-sidenav .docs-menu li .md-button {
      font-weight: 300; }
    md-sidenav .docs-menu li a {
      font-size: 20px;
      line-height: 55px;
      height: 55px;
      padding: 0 30px;
      font-weight: 300;
      color: #646262;
      display: block;
      text-decoration: none; }
      md-sidenav .docs-menu li a i {
        color: #1D1D1B;
        padding-right: 15px; }

/*
.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    will-change: opacity, transform;
    transition: .3s ease-out;
}
*/
canvas#doughnut {
  display: block !important;
  margin: auto !important;
  width: 80% !important;
  height: 80% !important; }

canvas.chart-bar {
  /*width: 80% $i;
  height: 80% $i; */ }

.collapsible {
  padding: 0px;
  list-style-type: none; }

.collapsible-header {
  display: block;
  cursor: pointer;
  min-height: 3rem;
  line-height: 3rem;
  padding: 0 1rem;
  background-color: #fff;
  border-bottom: 1px solid #ddd; }

.docs-menu, .docs-menu ul {
  list-style: none;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden; }

.docs-menu .md-button {
  border-radius: 0;
  cursor: pointer;
  display: block;
  align-items: inherit;
  margin: 0;
  overflow: hidden;
  text-align: left;
  text-decoration: none;
  white-space: normal;
  width: 100%;
  text-transform: none; }

.docs-menu menu-toggle .md-button {
  padding-top: 10px;
  padding-bottom: 10px; }

.docs-menu menu-toggle ul li .md-button {
  padding-left: 50px;
  line-height: 2; }

#paper {
  position: relative;
  width: inherit;
  display: block;
  border: 0;
  margin-bottom: 3px;
  text-align: center;
  height: 300px;
  background-image: url(../images/monitorbg.png);
  background-size: 100% 100%; }

#paper > svg {
  overflow: visible; }

.stats {
  margin-top: 10px; }
  .stats div {
    outline: none; }
  .stats div:hover {
    cursor: pointer; }

.opart {
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  display: block; }
  .opart.opartsm {
    width: 18%;
    height: 60px;
    background: whitesmoke; }
  .opart.opartlg {
    width: 20%;
    height: 75px;
    background: aliceblue; }
  .opart#streams {
    top: 12%;
    left: 5%; }
  .opart#batch {
    top: 58%;
    left: 5%; }
  .opart#ofz {
    left: 38%;
    top: 35%; }
  .opart#tsz {
    left: 70.2%;
    top: 35%; }

/*
  .line {
      width: 1px;
      background-color: gray;
      position: absolute;
  }

  #line1 {
    top: 19%;
    left: 31%;
    height: 20%;

      transform: rotate(70deg);
      -webkit-transform: rotate(70deg);
      -ms-transform: rotate(70deg);
  }


  #line2 {
    top: 9%;
    left: 31%;
    height: 20%;

      transform: rotate(110deg);
      -webkit-transform: rotate(110deg);
      -ms-transform: rotate(110deg);
  }

    #line3 {
    top: 14%;
    left: 66%;
    height: 20%;
      transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
  }

  */
.md-tab.md-active {
  color: #FFAA4E !important; }

md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {
  color: #FFAA4E;
  background: #FFAA4E; }

#paper-html-elements {
  position: relative;
  border: 1px solid gray;
  display: inline-block;
  background: transparent;
  overflow: hidden; }

#paper-html-elements svg {
  background: transparent; }

#paper-html-elements svg .link {
  z-index: 2; }

.html-element {
  position: absolute;
  background: #bfe0e8;
  /* Make sure events are propagated to the JointJS element so, e.g. dragging works.*/
  pointer-events: none;
  -webkit-user-select: none;
  border-radius: 4px;
  /*border: 2px solid #2980B9;*/
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  padding: 5px;
  box-sizing: border-box;
  z-index: 2; }

.html-element select,
.html-element input,
.html-element button {
  /* Enable interacting with inputs only. */
  pointer-events: auto; }

.sm-btn {
  padding: 5px 10px !important;
  height: 30px;
  min-height: 16px;
  line-height: 21px;
  font-size: 14px; }

.html-element button.delete {
  color: white;
  border: none;
  background-color: #C0392B;
  border-radius: 20px;
  width: 15px;
  height: 15px;
  line-height: 15px;
  text-align: middle;
  position: absolute;
  top: -15px;
  left: -15px;
  padding: 0;
  margin: 0;
  font-weight: bold;
  cursor: pointer; }

.html-element button.delete:hover {
  width: 20px;
  height: 20px;
  line-height: 20px; }

.html-element select {
  position: absolute;
  right: 2px;
  bottom: 28px; }

.html-element input {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border: none;
  color: #333;
  padding: 5px;
  height: 16px; }

.html-element label {
  color: #333;
  text-shadow: 1px 0 0 lightgray;
  font-weight: bold; }

.html-element span {
  position: absolute;
  top: 2px;
  right: 9px;
  color: white;
  font-size: 10px; }

oi-select .select-search-list-item_selection {
  white-space: blue !important;
  background-color: #00BCD4 !important;
  border-radius: 4px;
  padding: 4px 10px !important;
  color: white !important; }
  oi-select .select-search-list-item_selection:focus {
    outline: none !important; }
  oi-select .select-search-list-item_selection:hover {
    background: #00d3ee !important; }

.securityItemsCount {
  margin-top: 25px; }

md-checkbox.md-default-theme:not([disabled]).md-primary.md-checked .md-icon, md-checkbox:not([disabled]).md-primary.md-checked .md-icon {
  background-color: #3fa9f5; }

md-radio-button {
  outline: none; }

.toolong label {
  /*position: initial !important;*/
  color: gray;
  font-size: 14px; }

.md-button-toggle .md-toggle-icon.toggled {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg); }

.md-button-toggle .md-toggle-icon {
  display: block;
  margin-left: auto;
  speak: none;
  vertical-align: middle;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
  -webkit-transition: -webkit-transform 0.3s ease-in-out; }

.hiddenWidget {
  display: none; }

.item-name {
  padding-bottom: 10px;
  color: #206c8c;
  text-align: center;
  margin-bottom: 10px; }

.chart-meta {
  line-height: 0.5;
  margin-top: 20px;
  display: block; }
  .chart-meta p {
    font-size: 13px; }

#widgets p, #widgets th, #widgets td {
  font-size: 12px;
  color: #626262; }
#widgets th {
  font-weight: 600;
  text-transform: capitalize; }

md-dialog .md-toolbar-tools {
  background-image: none !important;
  background: #3fa9f5 !important; }

md-checkbox.md-checked .md-icon {
  background-color: #ffac52; }

switch.md-checked .md-thumb {
  background-color: #3fa9f5; }

md-switch.md-default-theme.md-checked .md-ink-ripple, md-switch.md-checked .md-ink-ripple {
  color: #03A9F4 !important; }

md-switch.md-default-theme.md-checked .md-thumb, md-switch.md-checked .md-thumb {
  background-color: #03A9F4 !important; }

md-switch.md-default-theme.md-checked .md-bar, md-switch.md-checked .md-bar {
  background-color: rgba(33, 150, 243, 0.5); }

/*# sourceMappingURL=main.css.map */
