<div ng-include src="'views/core/core.top.html'"></div>
<div layout="column" tabindex="-1" role="main" flex="" class="layout-column flex">
	<md-content md-scroll-y="" layout="column" flex="" class="_md layout-column flex">
	<div ng-include src="'views/top.html'"></div>


	<div class="container">

		<div class="spacer"></div>

	 <form ng-submit="vm.onSubmit()" name="vm.form" novalidate>
        <md-whiteframe class="md-whiteframe-z1 layout-padding layout-column flex" layout="column" flex="" layout-padding="">

			<p>To quickly share your video on Youtube, fill all required fields, you will be prompted to authenticate with Youtube.</p>

            <formly-form model="vm.model" fields="vm.fields" options="vm.options" form="vm.form">
            </formly-form>
            <md-button type="submit" class="btn md-raised red md-ink-ripple" ng-disabled="vm.form.$invalid" flex="100" flex-sm="100">Share Video <i class="fa fa-youtube" aria-hidden="true" style=""></i></md-button>


	 	<p>Once the video is posted to your Youtube account, you could edit Monetization and Advanced settings from Youtube managment panel.</p>

        </md-whiteframe>
    </form>

<!--
	 <md-button class="btn md-raised red md-ink-ripple md-button" ng-click="oauthSignIn()" class="">Share Video <i class="fa fa-youtube" aria-hidden="true" style=""></i></md-button>
-->

	</div>
	</md-content>
</div>


