<div ng-include src="'views/core/core.top.html'"></div>
<div layout="column" tabindex="-1" role="main" flex="" class="layout-column flex">
  <md-content md-scroll-y="" layout="column" flex="" class="_md layout-column flex">
  <div ng-include src="'views/top.html'"></div>
  <div class="container">
    <div class="spacer"></div>
    <!-- <div ng-controller="IngestionOnboardingCtrl"> -->
    <div class="">
      <!--</form>-->
      <div class="spacer"></div>
      <div ng-if="algo.selectedSourceTypes.id == '1'">
        <A HREF="#/ingestion/onboard/source">Dynamic Source Form</A>
      </div>
    </div>
    <div ng-show="showAlgorithmsTable">
      <div class="spacer"></div>
      <h5>Available Algorithms:</h5>


<div class="card">
      <div class="error">{{ error }}</div>
      <md-input-container>
      <label>Filter by search</label>
      <input type="text" ng-model="filterName">
      </md-input-container>
      <div ng-hide="true">
        {{(filteredItems = (algorithmsList | filter: filterName))}}
      </div>
    </div>


      <div class="spacer"></div>
      <div class="card">
        <div class="spacer"></div>
        
        
        <mdt-table table-card="{visible: true}"
        alternate-headers="'contextual'"
        delete-row-callback="deleteRowCallback(rows)"
        paginated-rows="{isEnabled: true, rowsPerPageValues: [10,20,50]}"
        mdt-row="{
        data: algorithmsList,
        'table-row-id-key': 'id',
        'column-keys': [
        'class',
        'description',
        'source',
        'onboarded-time',
        'params'
        ]
        }">
        <mdt-header-row>
        <mdt-column align-rule="left">Name</mdt-column>
        <mdt-column align-rule="right">Description</mdt-column>
        <mdt-column align-rule="right">Source</mdt-column>
        <mdt-column align-rule="right">Onboarded Time</mdt-column>
        <mdt-column align-rule="right">Params</mdt-column>
        <mdt-custom-cell column-key="params">
            <params-types types="value" />  
        </mdt-custom-cell>
        </mdt-header-row>

        </mdt-table>

        <!--
        <md-button style="display:inline-block;" type="submit" class="btn blue md-raised md-button md-ink-ripple" ng-disabled="algo.form.$invalid">Onboard</md-button>
        -->


      </div>
    </div>
  </div>
</div>
</md-content>
</div>