<div ng-include src="'views/core/core.top.html'"></div>
<div layout="column" tabindex="-1" role="main" flex="" class="layout-column flex">
  <md-content md-scroll-y="" layout="column" flex="" class="_md layout-column flex">
  <div ng-include src="'views/top.html'"></div>
  <div class="container">
    <div class="spacer"></div>
    <h5>Onboard new algorithms.</h5>
    <div class="spacer"></div>
    <!-- <div ng-controller="IngestionOnboardingCtrl"> -->
    <div class="">
      <div class="card container" ng-click="algo.divClicked()" style="outline:none;">
        <p>Enter details for onboarding.</p>
        <form ng-submit="algo.onSubmit()" name="algo.form" novalidate>
          <div class="spacer"></div>
          <formly-form model="algo.model" fields="algo.fields" options="algo.options" form="algo.form">
            
            <md-button style="display:inline-block;" type="submit" class="btn blue md-raised md-button md-ink-ripple" ng-disabled="algo.form.$invalid">Start</md-button>
            <md-progress-circular style="display:inline-block;" ng-hide="!algo.loading" ng-disabled="!algo.loading" class="md-hue-2" md-diameter="25"></md-progress-circular>
          </formly-form>
        </form>
      </div>
      
      <!--</form>-->
      <div class="spacer"></div>
      <div ng-if="algo.selectedSourceTypes.id == '1'">
        <A HREF="#/ingestion/onboard/source">Dynamic Source Form</A>
      </div>
    </div>
    <div ng-show="showResourcesTable">
      <div class="spacer"></div>
      <h5>Select Resources to Onboard Algorithms From:</h5>
      <div class="spacer"></div>
      <div class="">
        <div class="spacer"></div>
        
        
        <mdt-table table-card="{visible: true, title: 'Resources'}"
        selectable-rows="true"
        alternate-headers="'contextual'"
        delete-row-callback="deleteRowCallback(rows)"
        mdt-row="{
        data: resourcesList,
        'table-row-id-key': 'id',
        'column-keys': [
        'name',
        'path',
        'size',
        'type'
        ]
        }">
        <mdt-header-row>
        <mdt-column align-rule="left">Name</mdt-column>
        <mdt-column align-rule="right">Path</mdt-column>
        <mdt-column align-rule="right">Size</mdt-column>
        <mdt-column align-rule="right">Type</mdt-column>
        <mdt-custom-cell column-key="type">
        <material-dropdown operators="algo.languagesList"></material-dropdown>
        </mdt-custom-cell>
        </mdt-header-row>

        </mdt-table>

        <md-button style="display:inline-block;" type="submit" class="btn blue md-raised md-button md-ink-ripple" ng-disabled="algo.form.$invalid">Onboard</md-button>


      </div>
    </div>
  </div>
</div>
</md-content>
</div>