<div ng-include src="'views/core/core.top.html'"></div>
<div layout="column" tabindex="-1" role="main" flex="" class="layout-column flex">
	<md-content md-scroll-y="" layout="column" flex="" class="_md layout-column flex">
	<div ng-include src="'views/top.html'"></div>
	<div class="container">

		<h5>{{type}} Jobs</h5>
		
		<div class="spacer"></div>
		<div class="card" ng-show="off">
			<div class="error">{{ error }}</div>
			<md-input-container>
			<label>Filter by search</label>
			<input type="text" ng-model="filterName">
			</md-input-container>
			<div ng-hide="true">
				{{(filteredItems = (jobs | filter: name))}}
			</div>
		</div>

		<div class="card">
		<mdt-table
		table-card="{visible: true, title: 'Jobs', columnSelector: true}"
		paginated-rows="{isEnabled: true, rowsPerPageValues: [10,20,50]}"
		selected-row-callback="selectedRowCallback(rows)"
		animate-sort-icon="true"
		mdt-row="{
		data: filteredItems,
		'table-row-id-key': 'id',
		'column-keys': [
		'name',
		'executionId',
		'jobId',
		'taskExecutionId',
		'startDate',
		'startTime',		
		'jobExecution.status'
		]
		}">
		<mdt-header-row>
		<mdt-column align-rule="left"
		column-sort="true">Name</mdt-column>
		<mdt-column align-rule="right"
		column-sort="true">Execution Id</mdt-column>
		<mdt-column align-rule="right"
		column-sort="true">Instance Id</mdt-column>
		<mdt-column align-rule="right"
		column-sort="true">Task Id</mdt-column>
		<mdt-column align-rule="right"
		column-sort="true">Job Start Date</mdt-column>
		<mdt-column align-rule="right"
		column-sort="true">Job Start Time</mdt-column>
		<!--<mdt-column align-rule="right"
		column-sort="true">Step Executions Count</mdt-column>-->
		<mdt-column align-rule="right" column-sort="true">Status</mdt-column>
		<!--<mdt-column align-rule="right">Action</mdt-column>-->
		</mdt-header-row>
		<!-- here you have your own, customised cell for every 'protein' column -->
		<mdt-custom-cell column-key="executionId">
		<a href="/#/monitoring/jobs/{{clientScope.type}}/{{value}}">{{value}}</a>
		</mdt-custom-cell>

		
		<mdt-custom-cell column-key="jobExecution.status">

		<span class="{{value}}">{{value}}</span>
		
		</mdt-custom-cell>


		</mdt-table>


		<md-button ng-href="#/monitoring/jobs/onboard/executions" type="button" class="btn gray md-raised md-button md-ink-ripple sm-btn" >Onboard Jobs</md-button>

		<md-button ng-href="#/monitoring/jobs/ingest/executions" type="button" class="btn gray md-raised md-button md-ink-ripple sm-btn" >Ingest Jobs</md-button>
	</div>