<div ng-include src="'views/core/core.top.html'"></div>
<div layout="column" tabindex="-1" role="main" flex="" class="layout-column flex">
	<md-content md-scroll-y="" layout="column" flex="" class="_md layout-column flex">
	<div ng-include src="'views/top.html'"></div>
	<div class="container">
		<h5>Job #{{job.jobId }}</h5>
		<div class="spacer"></div>
		<div class="card">
			<md-list>
			<md-list-item>Abandonable: {{ job.abandonable }} </md-list-item>

			<md-divider aria-hidden="false"></md-divider>


			<md-list-item>Defined: {{ job.defined }} </md-list-item>

			<md-divider aria-hidden="false"></md-divider>

			<md-list-item>Duration: {{job.duration }} </md-list-item>

			<md-divider aria-hidden="false"></md-divider>

			<md-list-item>Execution Id: {{job.executionId }} </md-list-item>

			<md-divider aria-hidden="false"></md-divider>

			<!--<md-list-item>jobExecution: {{job.jobExecution }} </md-list-item>

		<md-divider aria-hidden="false"></md-divider>
	-->
			<md-list-item jobExecution.createTime>Create Time: {{ job.jobExecution.createTime }}</md-list-item>

			<md-divider aria-hidden="false"></md-divider>

			<md-list-item jobExecution.endTime>End Time: {{ job.jobExecution.endTime }}</md-list-item>

			<md-divider aria-hidden="false"></md-divider>

			<md-list-item>Dirty: {{ job.jobExecution.executionContext.dirty }}</md-list-item>

			<md-divider aria-hidden="false"></md-divider>

			<md-list-item>Empty: {{ job.jobExecution.executionContext.empty }}</md-list-item>

			<md-divider aria-hidden="false"></md-divider>

			<md-list-item>Exit Code: {{ job.jobExecution.exitStatus.exitCode }}</md-list-item>

			<md-divider aria-hidden="false"></md-divider>

			<md-list-item>Exit Description: {{ job.jobExecution.exitStatus.exitDescription }}</md-list-item>

			<md-divider aria-hidden="false"></md-divider>

			<md-list-item>Exit Status Running: {{ job.jobExecution.exitStatus.running }}</md-list-item>

			<md-divider aria-hidden="false"></md-divider>

			<md-list-item>Job Execution Id: {{ job.jobExecution.id }}</md-list-item>

			<md-divider aria-hidden="false"></md-divider>

			<md-list-item>Configuration Name: {{ job.jobExecution.jobConfigurationName }}</md-list-item>

			<md-divider aria-hidden="false"></md-divider>

			<md-list-item>Job Id: {{ job.jobExecution.jobId }}</md-list-item>

			<md-divider aria-hidden="false"></md-divider>


			<md-list-item><b>Job Instance</b></md-list-item>

			<md-divider aria-hidden="false"></md-divider>

			<md-list-item>Id: {{ job.jobExecution.jobInstance.instanceId }}</md-list-item>

			<md-divider aria-hidden="false"></md-divider>

			<md-list-item>Job Name: {{ job.jobExecution.jobInstance.jobName }}</md-list-item>

			<md-divider aria-hidden="false"></md-divider>

			<md-list-item>Version: {{ job.jobExecution.jobInstance.version }}</md-list-item>

			<md-divider aria-hidden="false"></md-divider>

			<md-list-item>Job Parameters: {{ job.jobExecution.jobInstance.jobParameters }}</md-list-item>

			<md-divider aria-hidden="false"></md-divider>

			<md-list-item>Last Updated: {{ job.jobExecution.jobInstance.lastUpdated }}</md-list-item>

			<md-divider aria-hidden="false"></md-divider>

			<md-list-item>Job Instance Running: {{ job.jobExecution.jobInstance.running }}</md-list-item>

			<md-divider aria-hidden="false"></md-divider>

			<md-list-item>Job Instance Start Time: {{ job.jobExecution.jobInstance.startTime }}</md-list-item>

			<md-divider aria-hidden="false"></md-divider>

			<md-list-item>Job Instance Status: {{ job.jobExecution.jobInstance.status }}</md-list-item>

			<md-divider aria-hidden="false"></md-divider>

			<md-list-item>Job Id: {{job.jobId }} </md-list-item>


			<md-divider aria-hidden="false"></md-divider>

			<md-list-item>File Name: {{job.jobParameters['-metadataURI'] }} </md-list-item>

			<md-divider aria-hidden="false"></md-divider>

			<md-list-item>Metadata URI: {{job.jobParameters['-metadataURI'] }} </md-list-item>

			<md-divider aria-hidden="false"></md-divider>

			<md-list-item>Operation: {{job.jobParameters['-operation'] }} </md-list-item>

			<md-divider aria-hidden="false"></md-divider>

			<md-list-item>Job Submission Id: {{job.jobParameters['jobSubmissionId'] }} </md-list-item>

			<md-divider aria-hidden="false"></md-divider>

			<md-list-item>Job Parameters String: {{job.jobParametersString }} </md-list-item>

			<md-divider aria-hidden="false"></md-divider>

			<md-list-item>Name: {{job.name }} </md-list-item>

			<md-divider aria-hidden="false"></md-divider>

			<md-list-item>Restartable: {{job.restartable }} </md-list-item>

			<md-divider aria-hidden="false"></md-divider>

			<md-list-item>Start Date: {{job.startDate }} </md-list-item>

			<md-divider aria-hidden="false"></md-divider>

			<md-list-item>Start Time: {{job.startTime }} </md-list-item>

			<md-divider aria-hidden="false"></md-divider>

			<md-list-item>Step Execution Count: {{job.stepExecutionCount }} </md-list-item>

			<md-divider aria-hidden="false"></md-divider>

			<md-list-item>Stoppable: {{job.stoppable }} </md-list-item>

			<md-divider aria-hidden="false"></md-divider>

			<md-list-item>Task Execution Id: {{job.taskExecutionId }} </md-list-item>

			<md-divider aria-hidden="false"></md-divider>

			<md-list-item>Time Zone: {{job.timeZone }} </md-list-item>

			</md-list>
		</div>
	</div>
	</md-content>
</div>