<div ng-include src="'views/core/core.top.html'"></div>
<div layout="column" tabindex="-1" role="main" flex="" class="layout-column flex">
	<md-content md-scroll-y="" layout="column" flex="" class="_md layout-column flex">
	<div ng-include src="'views/top.html'"></div>
	<div class="container">
		<h5>{{jobType}} Job Status</h5>
		<div class="spacer"></div>
		<div class="card">
			<md-list>
			<md-list-item>Job Submission Id: {{ jobSubId }} </md-list-item>

			<md-divider aria-hidden="false"></md-divider>

			<md-list-item>Status: <div style="margin-left:10px;" class="{{ job.jobStatus }}">{{ job.jobStatus }}</div></md-list-item>
			</md-list>
		</div>


<div ng-if="job.jobStatus ==='FAILED'" style="display:inline-block">
	
	<md-button type="button" class="btn blue md-raised md-button md-ink-ripple" ng-href="#/ingestion/onboard" ng-disabled="metadata.disableMdOptions"><i class="fa fa-cloud-upload" aria-hidden="true"></i> To Onboard Again</md-button>

</div>	


<div ng-if="job.jobStatus ==='COMPLETED'" style="display:inline-block">
	
	<md-button type="button" class="btn blue md-raised md-button md-ink-ripple" ng-href="#/ingestion/ingest" ng-disabled="metadata.disableMdOptions"><i class="fa fa-cloud-upload" aria-hidden="true"></i> To Ingest</md-button>
	
</div>	


<div ng-if="jobType ==='Onboard'" style="display:inline-block">
	
	<md-button type="button" class="btn blue md-raised md-button md-ink-ripple" ng-href="#/monitoring/jobs/onboard/executions"><i class="fa fa-th-list" aria-hidden="true"></i> All Onboard Jobs</md-button>

</div>	


<div ng-if="jobType ==='Ingest'" style="display:inline-block">
	
	<md-button type="button" class="btn blue md-raised md-button md-ink-ripple" ng-href="#/monitoring/jobs/ingest/executions"><i class="fa fa-th-list" aria-hidden="true"></i> All Ingest Jobs</md-button>

</div>	




	</div>
	</md-content>
</div>