<div ng-include src="'views/core/core.top.html'"></div>
<div layout="column" tabindex="-1" role="main" flex="" class="layout-column flex">
	<md-content md-scroll-y="" layout="column" flex="" class="_md layout-column flex">
	<div ng-include src="'views/top.html'"></div>
	<div class="container">
		<!--<h5>/create</h5>-->
		<div class="card" ng-show="list">

			Confirm Delete

			<button ng-click="deleteTemplate()">Delete Template</button>
		



		</div>

		
	</div>
</div>
</md-content>
</div>