<md-button class="md-button-toggle"
ng-click="toggle()"
aria-controls="docs-menu-{{section.name | nospace}}"
flex layout="row"
aria-expanded="{{isOpen()}}">
<div flex layout="row" style="padding-left:28px;font-size:20px;height:40px;">
  
  
  <div ng-if="section.customIcon == true">
    <img class="menu-icons" src="{{ section.icon }}" style="width:27px !important;height:27px !important">
  </div>
  <div ng-if="section.customIcon == false">
    <i class="fa {{ section.icon }}" aria-hidden="true" style="padding-right:15px;"></i>
  </div>
  <span class="oddMenuItem">{{section.name}} </span>
  <!--
  <div ng-if="video != video.large">
  </div>
  -->
  <span flex></span>
  <span aria-hidden="true" class="md-toggle-icon"
    ng-class="{'toggled' : isOpen()}">
    <md-icon md-svg-icon="md-toggle-arrow"></md-icon>
  </span>
</div>
<span class="md-visually-hidden">
  Toggle {{isOpen()? 'expanded' : 'collapsed'}}
</span>
</md-button>
<!-- show if menu is true and if correct instance of section -->
<!--<ul style="margin-top:5px;" ng-if="showSubMenu()" id="docs-menu-{{section.name | nospace}}"
  class="menu-toggle-list">-->

<ul ng-show="isOpen()" id="docs-menu-{{section.name | nospace}}" class="menu-toggle-list">

  <li ng-repeat="page in section.pages">
    <menu-link section="page" ng-if="checkPermission2(page)"></menu-link>
  </li>
</ul>