<md-button
    ng-class="{'active' : isSelected()}"
    flex layout="row"
    ng-href="{{section.url}}"
    ng-click="focusSection()"
     style=""> 


<div flex layout="row" style="font-size:20px;height:40px;">
  
  
  <div ng-if="section.customIcon == true">
    <div ng-if="section.icon !=='' "><img class="menu-icons" src="{{ section.icon }}" style="width:27px !important;height:27px !important"></div>
  </div>
  <div ng-if="section.customIcon == false">
    <i class="fa {{ section.icon }}" aria-hidden="true" style="padding-right:15px;"></i>
  </div>

 <span class="oddMenuItem">{{section.name}}</span>

   <span class="md-visually-hidden"
    ng-if="isSelected()">
    current page
  </span>
</md-button>
