<style>
  .odd {
    background-color: antiquewhite;
    color: #008b8b;
  }
  td th {
    height: 30px;
    min-width: 100px;
  }
  thead {
    background-color: ;
    color: white;
    height: 30px;
  font-size:1.19em;
  }
.mdrow-height {
 min-height: 3rem;
 line-height: 1.5rem;
}
.metaRowCell {
padding:0px !important;
border-top:none !important;
font-size:1.15em;


}
</style>

<md-dialog aria-label="View Metadata">
    <form>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>Metadata Preview</h2>
          <span flex></span>
          <md-button class="md-icon-button" ng-click="cancel()">
            <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
          </md-button>
        </div>
      </md-toolbar>
      <md-dialog-content  style="max-width:900px !important;max-height:900px !important;width:900px !important;height:900px !important; overflow=hidden !important;">

      		<div class="container">
      			<div class="row">
        				<div class="spacer"></div>
                <h4> {{mdFileName}}</h4>
              	<div class="collapsible-header mdrow-height">
                		 <div class="container-fluid">
                      <pre class="prettyprint lang-xml"></pre>
                      <!--
                		   <table class="table table-hover table-responsive">
                    			 <thead>
                    			   <tr class="metaRowCell">
                    				 <th></th>
                    				 <th>
                    				   <a href="" ng-click="order('lineNo')">Line No</a>
                    				 </th>
                    				 <th><a href="" ng-click=""> Metadata </a> </th>
                    			   </tr>
                    			 </thead>
                    			 <tbody>
                    			   <tr ng-repeat="md in mdContent track by $index" class="metaRowCell">
                    				 <td class="metaRowCell">  </td>
                    				 <td class="metaRowCell">{{ md.lineNo}}</td>
                    				 <td class="metaRowCell">{{ md.xmlContent}}</td>
                    			   </tr>
                    			 </tbody>
                		   </table>
                     -->
                		 </div>
              	 </div>
               </div>
       </div>
      </md-dialog-content>
      <md-dialog-actions layout="row">
        <md-button href="" md-autofocus ng-click="cancelValidation()">
          Cancel Preview
        </md-button>
        <span flex></span>
      </md-dialog-actions>

    </form>
</md-dialog>
