<style>

padding:0px !important;
border-top:none !important;


.inputdemoErrors .inputErrorsApp {
  min-height: 48px; }

.inputdemoErrors md-input-container > p {
  font-size: 0.8em;
  text-align: left;
  width: 100%; }

 .rowWidth {
   min-width:45%;
   max:wodth:45%;
   width:45%;
    }
  .labelfont {font-size: 1.1rem;
            }
  .hdrfont {font-size: 1.4rem;}
.padLeft50{
  padding-left:50px;
}

}
</style>
  <md-dialog aria-label="Generate Metadata" style="max-width:50% !important;max-height:60% !important;width:50% !important;height:60% !important;padding:0px;">
    <form>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>Generate Metadata</h2>
          <span flex></span>
          <md-button class="md-icon-button" ng-click="cancel()">
            <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
          </md-button>
        </div>
      </md-toolbar>
      <md-dialog-content >

      		  <div class="spacer"></div>
      		  <div class="spacer"></div>
      		  <div class="spacer"></div>
            <div ng-show="ingestion.isFileNameEmpty" >
              <label style="color:red;">Please select metadata file for validation</label>
            </div>
      		  <div class="collapsible-header">
      			     <label class="hdrfont padLeft50">Source database connection Details</h4>
      		  </div>

              <div id="gmdId"  ng-show="true" ng-cloak>
              <div class="spacer"></div>
              <div id="msgId" ng-show="showMsg" ng-class="{'isa_error':enabled,'isa_success':successClass}"  ng-model="successmsg">{{successmsg}} </div>

<!--                <md-content layout-padding>
                    <form name="mdForm">
                    </form>
                  </md-content>
-->

                <div class="row padLeft50">
              <md-input-container class="rowWidth">
                <label class="labelfont">Host Name</label>
                <input required name="hostName" ng-model="sourceConnection.hostName" />
                <div ng-messages="mdForm.hostName.$error">
                  <div ng-message="required">This is required.</div>
                </div>
              </md-input-container>
              <md-input-container class="rowWidth">
                <label class="labelfont">DB Server port</label>
                <input required name="dbPort" ng-model="sourceConnection.dbPort" />
                <div ng-messages="mdForm.dbPort.$error">
                  <div ng-message="required">This is required.</div>
                </div>
              </md-input-container class="rowWidth">
                </div>
                <div class="row padLeft50">

              <md-input-container class="rowWidth" flex="50">
                <label class="labelfont">Database Type Name</label>
                <input required name="dbDialect" ng-model="sourceConnection.dbDialect" />
                <div ng-messages="mdForm.dbDialect.$error">
                  <div ng-message="required">This is required.</div>
                </div>
              </md-input-container>
              <md-input-container class="rowWidth" flex="50">
                <label class="labelfont">Schema Name</label>
                <input required name="dbSchema" ng-model="sourceConnection.dbSchema" />
                <div ng-messages="mdForm.dbSchema.$error">
                  <div ng-message="required">This is required.</div>
                </div>
              </md-input-container

                </div>

                <div class="row">
              <md-input-container class="rowWidth" flex="50">
                <label class="labelfont">Table Name</label>
                <input required name="dbTable" ng-model="sourceConnection.dbTable" />
                <div ng-messages="mdForm.dbTable.$error">
                  <div ng-message="required">This is required.</div>
                </div>
              </md-input-container>
              <md-input-container class="rowWidth" flex="50">
                <label class="labelfont">User ID</label>
                <input required name="dbUser" ng-model="sourceConnection.dbUser" />
                <div ng-messages="mdForm.dbUser.$error">
                  <div ng-message="required">This is required.</div>
                </div>
              </md-input-container

                </div>
                <div class="row">

              <md-input-container class="rowWidth" flex="50">
                <label class="labelfont">Password</label>
                <input type="password" required name="dbPassword" ng-model="sourceConnection.dbPassword" />
                <div ng-messages="mdForm.dbPassword.$error">
                  <div ng-message="required">This is required.</div>
                </div>
              </md-input-container>
              <md-input-container class="rowWidth" flex="50">
                <label class="labelfont">Metadata File Path</label>
                <input  name="mdSaveLocation" ng-model="sourceConnection.mdSaveLocation" />
                <div ng-messages="mdForm.mdSaveLocation.$error">
                  <div ng-message="required">This is required.</div>
                </div>
              </md-input-container>


                </div>
                <div class="row">

              <md-input-container class="rowWidth" flex="50">
                <label class="labelfont">Metadata File Name</label>
                <input  name="mdFile" ng-model="sourceConnection.mdFile" />
                <div ng-messages="mdForm.mdFile.$error">
                  <div ng-message="required">This is required.</div>
                </div>
              </md-input-container>
              <md-input-container class="rowWidth" flex="50">
                <label class="labelfont">Metadata File Path</label>
                <input required name="ingestionVersion" ng-model="sourceConnection.ingestionVersion" />
                <div ng-messages="mdForm.ingestionVersion.$error">
                  <div ng-message="required">This is required.</div>
                </div>
              </md-input-container>

                </div>

                <div class="row">

              <md-input-container class="rowWidth"  flex="50">
                <label class="labelfont">Record Delimiter</label>
                <input required name="recordDelim" ng-model="sourceConnection.recordDelim" />
                <div ng-messages="mdForm.recordDelim.$error">
                  <div ng-message="required">This is required.</div>
                </div>
              </md-input-container>
              <md-input-container class="rowWidth" flex="50">
                <label class="labelfont">Field Delimiter</label>
                <input required name="fieldDelim" ng-model="sourceConnection.fieldDelim" />
                <div ng-messages="mdForm.fieldDelim.$error">
                  <div ng-message="required">This is required.</div>
                </div>
              </md-input-container>

              </div>
              <a class="waves-effect waves-light btn" ng-click="createMetadata()">GENERATE</a>
              <div class="spacer"></div>

            </div>

      </md-dialog-content>
<!--
      <md-dialog-actions layout="row">
        <md-button href="" md-autofocus ng-click="cancelValidation()">
          Cancel Generate
        </md-button>
        <span flex></span>
      </md-dialog-actions>
    -->
    </form>
  </md-dialog>
