<md-dialog aria-label="Validating Metadata">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Validating Metadata - [ {{validatorInput.name}}]</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content style="max-width:800px;max-height:810px; padding:100px; overflow:hidden;">

  <div class="preloader-wrapper big active" ng-show="showspinner">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>


  <div ng-show="metadataValid" class="meta-data-valid">
    <div> {{validatorInput.name}} is Valid!</div>
    <i class="fa fa-check" aria-hidden="true"></i>
  </div>

    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button href="" md-autofocus ng-click="cancelValidation()">
        Cancel Validation
      </md-button>
      <span flex></span>

    </md-dialog-actions>
  </form>
</md-dialog>
