<style type="text/css">
fieldset.radiogroup  {
margin: 0;
padding: 0;
margin-bottom: 1.25em;
padding: .125em;
}
fieldset.radiogroup legend {
margin: 0;
padding: 0;
font-weight: bold;
margin-left: 20px;
font-size: 100%;
color: black;
}
.sub-menu-item {
line-height: 15px;
height: 10px;
align-content: flex-end;
margin-left: 70px;
color: orange;
}
/*  http://jsfiddle.net/danielzen/utp7j/ */
.ace_editor { height: 200px; }
table { border-collapse: collapse; }
.percent {
position: absolute; width: 300px; height: 14px; z-index: 1; text-align: center; font-size: 0.8em; color: white;
}
.progress-bar {
width: 300px; height: 14px;
border-radius: 10px;
border: 1px solid #CCC;
background-image: -webkit-gradient(linear, left top, left bottom, from(#6666cc), to(#4b4b95));
border-image: initial;
}
.uploaded {
padding: 0;
height: 14px;
border-radius: 10px;
background-image: -webkit-gradient(linear, left top, left bottom, from(#66cc00), to(#4b9500));
border-image: initial;
}
.dropbox {
width: 15em;
height: 3em;
border: #ece8e8 4px dashed;
margin: auto;
text-align: center;
}
.dropbox span {
margin-top: 0.9em;
display: block;
color: #9c9696;
}
.dropbox.not-available {
background-color: #F88;
}
.dropbox.over {
background-color: #bfb;
}
/*RULES FOR XML EDITOR*/
.xml_tab_area, .xml_work_area, #xml_editor, #mdEditorEmbed {
width: 100% !important;
}

.xml_editor_header{
  position: relative !important;
}

#xml_header_item_File, #xml_header_item_Edit, #xml_header_item_Select, #xml_header_item_Insert, #xml_header_item_View, #xml_header_item_Options{
  display: none !important;
}

#xml_header_item_Text{
  display: none !important;
}

#xml_header_item_XML{
  display: none !important;
}


.xml_header_item_Text{
  display: none !important;
}

.xml_menu_column{
  /*display: none !important;*/
}


.xml_delete{
  display: none !important;
}


.xml_delete, .xml_submit_status, .xml_menu_container{
  /*display: none !important;*/
}

.xml_menu_column, .xml_menu_bar, .xml_editor_header{
/*display: none;*/
}
.xml_menu_bar, .xml_editor_header{
/*display: none;*/
}
.xml_tab_area .gui_content {
background-color: white !important;
}

.xml_root_element > .element_header {
border: none !important;
background: whitesmoke !important;
margin: 0 !important;
padding: 10px !important;
}

.xml_element {
border: none !important;
font-size: 14px;
box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2) !important;
margin-bottom: 10px;
background-color: #fff;
border-radius: 0px !important;
}
.xml_tab_area{
padding-top: 0px !important;
}
.xml_editor_header_backing{
height: 0px !important;
}
.xml_element.selected > .element_header {
background: #3fa9f5 !important;
margin-top: 0px;
}
.element_header{
list-style-type: none  !important;
background: whitesmoke  !important;
border: none  !important;
padding: 10px  !important;
border-radius: 0px !important;
}
.element_header:hover{
cursor: pointer;
}
.xml_text_node {
border: none !important;
}
.xml_textarea:focus, .xml_input:focus {
outline: none !important;
}
.xml_text_node .xml_input_column {
background-color: #f9f9f9   !important;
}
.element_header > .top_actions > span:hover {
background-color: #9bcef7   !important;
}
.attribute_container.selected {
background-color: #ffffff !important;
box-shadow: none !important;
border-radius: 0px !important;
}


</style>



<div ng-include src="'views/core/core.top.html'"></div>
<div layout="column" tabindex="-1" role="main" flex="" class="layout-column flex">
  <md-content md-scroll-y="" layout="column" flex="" class="_md layout-column flex">
  <div ng-include src="'views/top.html'"></div>
  <div class="container">
  	    <div class="spacer"></div>	
    <h5>Edit Metadata {{metadataPath}}</h5>
    <div class="spacer"></div>		
<div class="spacer"></div>

<div class="card container" ng-hide="mdEditor">

<md-button type="button" ng-if="onboardFromEditorButton" class="btn blue md-raised md-button md-ink-ripple" ng-href="#/ingestion/onboard/{{mdPath}}"><i class="fa fa-cloud-upload" aria-hidden="true"></i> Onboard</md-button>

    <div id="mdEditorErrors">
        <div class="mdEditorError" ng-repeat="(key, value) in mdEditorErrors" style="padding:10px;margin:10px;background:#E91E63;color:white;">
          {{value}}
        </div>
    </div>

  <div class="layout-row">
    <div id="mdEditorEmbed" ng-bind-html="mdEditorEmbed"></div>
  </div>
<md-button type="button" class="btn blue md-raised md-button md-ink-ripple" ng-href="#/ingestion/onboard/{{mdPath}}"><i class="fa fa-cloud-upload" aria-hidden="true"></i> Onboard</md-button>


</div>


</div>



    </md-content>
  </div>



