<style>
padding:0px !important;
border-top:none !important;
.inputdemoErrors .inputErrorsApp {
min-height: 48px; }
.inputdemoErrors md-input-container > p {
font-size: 0.8em;
text-align: left;
width: 100%; }
.rowWidth {
min-width:45%;
max-width:45%;
width:45%;
}
.labelfont {font-size: 1.1rem;
}
.hdrfont {font-size: 1.4rem;}
}
</style>

<h5>If no metadata exists, quickly generate metadata directly from source systems.</h5>
<div class="spacer"></div>

<div class="card container">
  <div class="spacer"></div>
  <form ng-submit="metadata.onSubmit()" name="metadata.form" novalidate>
      <formly-form model="metadata.model" fields="metadata.fields" options="metadata.options" form="metadata.form">
      </formly-form>
    <md-button type="submit" class="btn blue md-raised md-button md-ink-ripple" ng-disabled="metadata.form.$invalid || metadata.genButton"><i class="fa fa-cubes" aria-hidden="true"></i> Generate</md-button>
    <!--
    <md-button type="button" class="md-raised" ng-click="metadata.options.resetModel()">Reset</md-button>-->
    <md-button type="button" class="btn blue md-raised md-button md-ink-ripple" ng-click="metadata.editMdFirst()" ng-disabled="metadata.disableMdOptions"><i class="fa fa-edit" aria-hidden="true"></i> To Edit</md-button>
    <md-button type="button" class="btn blue md-raised md-button md-ink-ripple" ng-click="metadata.startOnboarding()" ng-disabled="metadata.disableMdOptions"><i class="fa fa-cloud-upload" aria-hidden="true"></i> To Onboard</md-button>
  </form>
</div>

<div class="spacer"></div>
<h5>Select Metadata from HDFS</h5>
<div class="spacer"></div>

<div class="card container">

<mdt-table table-card="{visible: true}"
        alternate-headers="'contextual'"
        delete-row-callback="deleteRowCallback(rows)"
        paginated-rows="{isEnabled: true, rowsPerPageValues: [10,20,50]}"
        mdt-row="{
        data: sandboxFiles,
        'table-row-id-key': 'pathSuffix',
        'column-keys': [
        'pathSuffix',
        'type',
        'length',
        'owner',
        'group',
        'permission',
        'accessTime',
        'modificationTime',
        'blockSize'
        ]
        }">
        <mdt-header-row>
        <mdt-column align-rule="left">pathSuffix</mdt-column>
        <mdt-column align-rule="left">type</mdt-column>
        <mdt-column align-rule="right">length</mdt-column>
        <mdt-column align-rule="right">owner</mdt-column>
        <mdt-column align-rule="right">group</mdt-column>
        <mdt-column align-rule="right">permission</mdt-column>
        <mdt-column align-rule="right">access Time</mdt-column>
        <mdt-column align-rule="right">modification Time</mdt-column>
        <mdt-column align-rule="right">block Size</mdt-column>
        </mdt-header-row>
        </mdt-table>



</div>