<div ng-include src="'views/core/core.top.html'"></div>
<div layout="column" tabindex="-1" role="main" flex="" class="layout-column flex">
  <md-content md-scroll-y="" layout="column" flex="" class="_md layout-column flex">
  <div ng-include src="'views/top.html'"></div>
  <div class="container">
    <h5>List of onboarded metadata</h5>
    <div class="spacer"></div>


<div class="card">
  
      <table st-table="metadatasCollection" st-safe-src="metadatas" class="table table-striped table-bordered">
        <thead style="text-align:left;">
          <tr>
            <th st-sort="role" width="200px">Metadata</th>
            <th></th>
          </tr>
          <tr>
            <th colspan="5">
              <md-input-container class="" style="margin: 10px 0 0;
              padding-bottom: 0;
              height: 35px;">
              <input id=""  st-search type="search" class="validate md-input"><div class="md-errors-spacer"></div>
              <label for="">Filter</label>
              </md-input-container>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="row in metadatasCollection">
            <td>
              <input class="form-control" type="text" ng-model="row.name" ng-show="row.editable">
              <span ng-hide="row.editable">{{row.mdURI}}</span>
            </td>
            <td>
              <a ng-href="#/ingestion/metadata/{{row.encoded}}"><button type="button" class="btn gray md-raised md-button md-ink-ripple sm-btn" ng-hide=""> Duplicate & Edit</button></a>
            </td>
          </tr>
        </tbody>
      </table>

</div>

  </div>

