<style type="text/css">
fieldset.radiogroup  {
margin: 0;
padding: 0;
margin-bottom: 1.25em;
padding: .125em;
}
fieldset.radiogroup legend {
margin: 0;
padding: 0;
font-weight: bold;
margin-left: 20px;
font-size: 100%;
color: black;
}
.sub-menu-item {
line-height: 15px;
height: 10px;
align-content: flex-end;
margin-left: 70px;
color: orange;
}
/*  http://jsfiddle.net/danielzen/utp7j/ */
.ace_editor { height: 200px; }
table { border-collapse: collapse; }
.percent {
position: absolute; width: 300px; height: 14px; z-index: 1; text-align: center; font-size: 0.8em; color: white;
}
.progress-bar {
width: 300px; height: 14px;
border-radius: 10px;
border: 1px solid #CCC;
background-image: -webkit-gradient(linear, left top, left bottom, from(#6666cc), to(#4b4b95));
border-image: initial;
}
.uploaded {
padding: 0;
height: 14px;
border-radius: 10px;
background-image: -webkit-gradient(linear, left top, left bottom, from(#66cc00), to(#4b9500));
border-image: initial;
}
.dropbox {
width: 15em;
height: 3em;
border: #ece8e8 4px dashed;
margin: auto;
text-align: center;
}
.dropbox span {
margin-top: 0.9em;
display: block;
color: #9c9696;
}
.dropbox.not-available {
background-color: #F88;
}
.dropbox.over {
background-color: #bfb;
}
/*RULES FOR XML EDITOR*/
.xml_tab_area, .xml_work_area, #xml_editor, #mdEditorEmbed {
width: 100% !important;
}
.xml_menu_column, .xml_menu_bar, .xml_editor_header{
/*display: none;*/
}
.xml_menu_bar, .xml_editor_header{
display: none;
}
.xml_tab_area .gui_content {
background-color: white !important;
}
.xml_root_element.selected {
box-shadow: 1px 2px 1px 0 #03A9F4 !important;
}
.xml_element.selected {
border: none !important;
box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2) !important;
}
.xml_root_element > .element_header {
border: none !important;
background: whitesmoke !important;
margin: 0 !important;
padding: 10px !important;
}
.xml_element.xml_root_element {
border: none !important;
}
.xml_element {
border: none !important;
font-size: 14px;
box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2) !important;
margin-bottom: 10px;
background-color: #fff;
border-radius: 0px !important;
}
.xml_tab_area{
padding-top: 0px !important;
}
.xml_editor_header_backing{
height: 0px !important;
}
.xml_element.selected > .element_header {
background: #3fa9f5 !important;
}
.element_header{
list-style-type: none  !important;
background: whitesmoke  !important;
border: none  !important;
padding: 10px  !important;
border-radius: 0px !important;
}
.element_header:hover{
cursor: pointer;
}
.xml_text_node {
border: none !important;
background-color: #fff  !important;
}
.xml_textarea:focus, .xml_input:focus {
outline: none !important;
}
.xml_text_node .xml_input_column {
background-color: #f9f9f9   !important;
}
.element_header > .top_actions > span:hover {
background-color: #9bcef7   !important;
}
.attribute_container.selected {
background-color: #ffffff !important;
box-shadow: none !important;
border-radius: 0px !important;
}
</style>
<div class="spacer"></div>
<h5 style="">Validate existing metadata file prior to ingestion.</h5>
<div class="spacer"></div>

<div class="card container">
  <div class="layout-row">
    <div flex="20">
      <!-- Select Local OR Remote -->
      <md-input-container class="md-block ng-scope">
      <md-select ng-model="metadata.mdLocationType" md-on-close="metadata.showSelectedMdLocation()" placeholder="Select a ingestion type" style="min-width:50px;">
      <md-option ng-value="item.id" ng-repeat="(i,item) in metadata.mdLocationTypes"  ng-value="Secret">{{ item.name }}</md-option>
      </md-select>
      </md-input-container>
      
      <!---->
    </div>
    <form name="mdForm" flex="80">
      <!-- Remote , move this chunk to seperate file -->
      <div flex="200" class="layout-row" ng-if="metadata.mdRemote">
        <md-input-container class="rowWidth">
        <label class="labelfont">Remote File Name</label>
        <input required name="mdRemoteFileName" ng-model="metadata.mdRemoteFileName" />
        <div ng-messages="mdForm.mdRemoteFileName.$error">
          <div ng-message="required">Please enter remote file absolute name.</div>
        </div>
        </md-input-container>
      </div>
      <div flex="200" class="layout-row" ng-if="metadata.mdRemote">
        <md-input-container>
        <md-button type="button" ng-click="metadata.startNewRTS()" class="btn orange md-raised md-button md-ink-ripple sm-btn" ng-show="true">PREVIEW</md-button>
        <md-button type="button" ng-click="metadata.startNewRTS()" class="btn orange md-raised md-button md-ink-ripple sm-btn" ng-show="true">VALIDATE</md-button>
        <md-button type="button" ng-click="metadata.startNewRTS()" class="btn orange md-raised md-button md-ink-ripple sm-btn" ng-show="true">EDIT</md-button>
        </md-input-container>
      </div>
      <!---->
      <!-- Local -->
      <div class="layout-row" ng-if="metadata.mdLocal">
        
        <div ng-controller="FileuploaderCtrl" class="layout-row" style="margin-top:18px;width:100%;" ng-if="metadata.mdLocal">
          <div flex="25">
            <!--<small>Select a Metadata file from your local system.</small><br>-->
            <label for="fileToUpload" class="btn orange md-raised md-button md-ink-ripple md-button">Select MetaData File</label>
            <input type="file" ng-model-instant id="fileToUpload" multiple onchange="angular.element(this).scope().setFiles(this)" class="ng-hide" />
          </div>
          <div flex="5" style="line-height:3;">OR</div>
          
          <div flex="25">
            <div id="dropbox" class="dropbox" ng-class="dropClass"><span>{{dropText}}</span></div>
          </div>
          <div flex="10"></div>
          <div flex="30">
            <div ng-show="files.length">
              <div ng-repeat="file in files.slice(0)">
                <span>{{file.webkitRelativePath || file.name}}</span>
                (<span ng-switch="file.size > 1024*1024">
                  <span ng-switch-when="true">{{file.size / 1024 / 1024 | number:2}} MB</span>
                  <span ng-switch-default>{{file.size / 1024 | number:2}} kB</span>
                </span>)
              </div>
              <label for="uploadFile" class="btn blue md-raised md-button md-ink-ripple sm-btn md-button">Upload</label><br />
              <input id="uploadFile" class="ng-hide" type="button" ng-click="uploadFile()" value="Upload" />
              <div ng-show="progressVisible" class="hidden">
                <div class="percent">{{progress}}%</div>
                <div class="progress-bar">
                  <div class="uploaded" ng-style="{'width': progress+'%'}"></div>
                </div>
              </div>
            </div>
          </div>
          
          <div flex="200" class="layout-row hidden" ng-if="metadata.mdLocal">
            <md-input-container>
            <md-button type="button" ng-click="metadata.previewMetadata()" class="btn orange md-raised md-button md-ink-ripple sm-btn" ng-show="false">PREVIEW</md-button>
            <md-button type="button" ng-click="metadata.startNewRTS()" class="btn orange md-raised md-button md-ink-ripple sm-btn" ng-show="false">EDIT</md-button>
            </md-input-container>
          </div>
          <div flex="200" class="layout-row hidden" ng-if="metadata.mdLocal">
            <div class="collapsible-header mdrow-height">
              <div class="container-fluid">
              <pre class="prettyprint lang-xml"></pre>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div style="" ng-if="metadata.rtSelected">
    <h8> Existing Real Time Sources </h8>
    <div class="spacer"></div>
    <div class="spacer"></div>
    <div class="card" >
    </div>
  </div>
  <div class="spacer"></div>
</div>

</div>

<div class="spacer"></div>
<h5 style="">List of onboarded metadata</h5>
<div class="spacer"></div>

<div class="card">
  
      <table st-table="metadatasCollection" st-safe-src="metadatas" class="table table-striped table-bordered">
        <thead style="text-align:left;">
          <tr>
            <th st-sort="role" width="200px">Metadata</th>
            <th>Operations</th>
          </tr>
          <tr>
            <th colspan="5">
              <md-input-container class="" style="margin: 10px 0 0;
              padding-bottom: 0;
              height: 35px;">
              <input id=""  st-search type="search" class="validate md-input"><div class="md-errors-spacer"></div>
              <label for="">Filter</label>
              </md-input-container>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="row in metadatasCollection">
            <td>
              <input class="form-control" type="text" ng-model="row.name" ng-show="row.editable">
              <span ng-hide="row.editable">{{row.mdURI}}</span>
            </td>
            
            <td>

              <a ng-href="#/ingestion/metadata/editor/{{row.encoded}}"><button type="button" class="btn gray md-raised md-button md-ink-ripple sm-btn" ng-hide=""> Duplicate & Edit</button></a>
              
            </td>
          </tr>
        </tbody>
      </table>

</div>
