<div ng-controller="MonitoringCtrl">
	<div class="stats">
		<div ng-class="{'md-whiteframe-5dp': hover.blue }" ng-mouseenter="hover.blue = true;" ng-mouseleave="hover.blue = false;" class="status-blue gb_uc md-whiteframe-2dp" ng-click="showOperationsDialog($event,info,'single')">
			{{ state[info].green | number}}
		</div>
	</div>
	<label></label>
	<span></span> <br/>
</div>