<style type="text/css">
fieldset.radiogroup  {
margin: 0;
padding: 0;
margin-bottom: 1.25em;
padding: .125em;
}
fieldset.radiogroup legend {
margin: 0;
padding: 0;
font-weight: bold;
margin-left: 20px;
font-size: 100%;
color: black;
}
</style>
<div ng-include src="'views/core/core.top.html'"></div>
<div layout="column" tabindex="-1" role="main" flex="" class="layout-column flex">
  <md-content md-scroll-y="" layout="column" flex="" class="_md layout-column flex">
  <div ng-include src="'views/top.html'"></div>
  <div class="container">
    <md-content class="md-padding ng-scope _md">
    <h5>Setup Ingestion</h5>
    <div class="spacer"></div>
    
    
    <div class="card container" style="">
      <p>Specify ingestion type and parameters for your ingestion jobs.</p>
      <div class="layout-row">
        <md-input-container flex="40">
        <md-select ng-model="ingest.selectedIngestType" md-on-close="ingest.showSelected()" placeholder="Select a ingestion type">
        <md-option ng-value="item.id" ng-repeat="(i,item) in ingest.ingestTypes"  ng-value="Secret">{{ item.name }}</md-option>
        </md-select>
        </md-input-container>
        <div flex="200" class="layout-row" ng-if="ingest.rtSelected">
          <md-input-container>
          <div class="text-center">
            <!--
            <md-button  ng-click="ingest.addNewRTS()" class="btn blue md-raised sm-btn">Add New Source</md-button>-->
          </div>
          </md-input-container>
        </div>
        <div flex="5"></div>

        <!--
        <div flex="100" class="layout-row" ng-if="ingest.batchSelected">
          <md-radio-group  ng-model="ingest.ingestMethod" style="">
          <md-radio-button value="Scheduled" ng-click='ingest.onIngestMethodChange("Scheduled")' style="float:left;margin-left:10px;margin-top:20px;margin-right:25px;outline:none;" class="md-primary">Scheduled</md-radio-button>
          <md-radio-button value="Manual" ng-click='ingest.onIngestMethodChange("Manual")' style="float:right;margin-top:20px;margin-right:10px;outline:none;"class="md-primary"> Manual </md-radio-button>
          </md-radio-group>
        </div>
      -->

      </div>
    </div>
    <div>


      <div class="card" ng-if="ingest.dtsSelected">
        <form ng-submit="ingest.ond2sSubmit()" name="ingest.d2sForm" novalidate>
        <formly-form model="ingest.d2sModel" fields="ingest.d2sFields" options="ingest.d2sOptions" form="ingest.d2sForm">
        </formly-form>
        <md-button type="submit" class="btn blue md-raised md-button md-ink-ripple" ng-disabled="ingest.d2sForm.$invalid">Ingest</md-button>
            <a ng-hide="!ingest.loading" href="#/monitoring/jobs/status/ingest/{{ingest.jobStatus}}">Check Job Status</a>

        </form>
      </div>
      
      <div class="card" ng-if="ingest.rtSelected">
        <form ng-submit="ingest.onStreamSubmit()" name="ingest.streamForm" novalidate>
          <formly-form model="ingest.streamModel" fields="ingest.streamFields" options="ingest.streamOptions" form="ingest.streamForm">
          </formly-form>
          <md-button type="submit" class="btn blue md-raised md-button md-ink-ripple" ng-disabled="ingest.streamForm.$invalid">Start</md-button>
              <!--<a ng-hide="!ingest.loading" href="#/monitoring/jobs/status/ingest/{{ingest.jobStatus}}">Check Job Status</a>-->
        </form>
      </div>

    </div>

    <!--
    <div style="" ng-if="ingest.rtSelected">
      <h8 style="">Existing Real Time Sources </h8>
      <div class="spacer"></div>
      <div class="spacer"></div>
      <div class="card"style="">
        <table st-table="ingest.rtsList" class="table table-striped table-bordered">
          <thead style="text-align:left;">
            <tr>
              <th st-sort="sourceId" width="100px">Source ID</th>
              <th st-sort="sourceName" width="150px">Source Name</th>
              <th st-sort="sourceTopic" width="250px">Source Topic</th>
              <th>Operations</th>
            </tr>
            <tr>
              <th colspan="4">
                <md-input-container class="" style="margin: 10px 0 0;
                padding-bottom: 0;
                height: 35px;">
                <i class="material-icons disabled tooltipped disabled" data-position="right" data-delay="50" data-tooltip="Location to create Job Status marker files. The property should point to an existing local folder or HDFS folder.">info_outline</i>
                <input id=""  st-search type="search" class="validate md-input"><div class="md-errors-spacer"></div>
                <label for="">Filter</label>
                </md-input-container>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="rts in ingest.rtsList">
              <td>{{rts.sourceId}}</td>
              <td>
                <input class="form-control" type="text" ng-model="rts.sourceName" ng-show="rts.editable">
                <span ng-hide="rts.editable">{{rts.sourceName}}</span>
              </td>
              <td>
                <span>{{rts.sourceTopic}}</span>
              </td>
              <td>
                <button type="button" ng-click="editRow($index)" class="btn orange md-raised md-button  sm-btn" ng-hide="row.editable">STOP </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  -->
    <div class="spacer"></div>
    <div ng-if="ingest.ingestMethodScheduled && ingest.batchSelected" ng-include src="'views/ingestion/scheduled.html'"></div>
    <div ng-if="ingest.batchSelected" ng-include src="'views/ingestion/manual.html'"></div>
    
    </md-content>
  </div>
  </md-content>
</div>