<div class="container">
  <div class="row">

    <p>To trigger manual ingestion, drag-and-drop file and its corresponding metadata file into the right window-pane.</p>
    <div class="card">

      <div layout>
  
          <md-input-container>

            <md-select ng-model="ingestion.selectedSourceOnborded" placeholder="Select a onboarded sources" style="min-width:175px;">
              <md-option  ng-repeat="(i,item) in  ingestion.sourceOnborded" ng-value="Secret">{{ item.name }} {{ item.id }}</md-option>
            </md-select>

          </md-input-container>


        </div>
      </div>
    </div>

    <div ng-show="ingestion.isGenerateSuccess" >
      <label style="color:green;">Generated successfully metadata - {{ingestion.newMdFile}}.</label>
    </div>
    <div>
      <div>
        <div>
          <div layout="row">

            <div flex>
              <div copy-style class="card">
                <label>Ingestion Files View</label>

                <div class="card-action">
                  <!-- <a ng-show="ingestion.validateMeta" ng-click="ingestion.generateMetadata($event)" class="waves-effect waves-light btn">Create new Metadata</a> -->



                  <a ng-show="ingestion.validateMeta" ng-click="ingestion.generateMetadata($event)" class="btn orange md-raised md-button md-ink-ripple">Create new Metadata</a>
                  <p>Drag & Drop the files and folder you want to ingest. Use the 'command' key to select multiple icons.</p>
                </div>

                <iui-treeview name="{{ingestion.treeName}}" class="directive" items="ingestion.treeData" item-click="ingestion.onItemClick(e)" allow-drag="ingestion.allowDrag" allow-drop="ingestion.allowDrop"   selection-mode="multi-extended" allow-focus="false"></iui-treeview>

              </div>

            </div>
            <div flex>
              <div ng-style="customStyle" class="card">
                <label>Selected Files For Ingestion</label>
                <iui-treeview name="{{ingestion.treeName2}}" class="directive" items="ingestion.treeData2" allow-drag="allowDrag2" allow-drop="allowDrop2" item-dblclick="ingestion.onItemDblClick(e)"item-click="onItemClick(e)" drag-drop="onDragDrop(e)" selection-mode="multi-extended" allow-focus="false"></iui-treeview>
                <div id="siId"  class="card-action" style="padding-left:2px;">
                  <a ng-show="ingestion.showIngestion" ng-click="showLoading($event)" class="btn blue md-raised md-button md-ink-ripple">START INGESTION</a>
                  <a ng-show="ingestion.validateMeta" ng-click="validateMetadata($event)" class="btn gray md-raised md-button md-ink-ripple">Validate Metadata</a>
                  <div id="vmId" style="float:right">
                    <button ng-click="ingestion.showMetadata($event)" ng-show="ingestion.showViewMetadata" class="btn gray md-raised md-button md-ink-ripple">View Metadata</button>
                  </div>

                  <div class="loading-div" ng-show="waitforTimer" style="float:right">
                    <img class="menu-icons" src="images/icons/ring.gif" alt=""><div>Validating Metadata</div>
                  </div>
                  <div ng-show="ingestion.isFileNameEmpty" >
                    <label style="color:red;">Please select metadata file to View or Validate</label>
                  </div>
                </div>
              </div>


            </div>

            <br style="clear:both;"/>
          </div>

        </div>
      </div>
    </div>


  </div>
</div>


<!--
<div style="display:inline-block; margin-top:20px" class="hidden">
<div style="float:left;width:300px;margin-right:30px" align="center">
<label style="margin-right:30px"><input type="checkbox" ng-click="toggleAllowDrag()" checked="checked" /> Allow Drag</label>
<label><input type="checkbox" ng-click="toggleAllowDrop()" checked="checked" /> Allow Drop</label>
</div>
<div style="float:left;width:300px;" align="center">
<label style="margin-right:30px"><input type="checkbox" ng-click="toggleAllowDrag2()" checked="checked" /> Allow Drag</label>
<label><input type="checkbox" ng-click="toggleAllowDrop2()" checked="checked" /> Allow Drop</label>
</div>
<br style="clear:both;"/>
</div>
-->

<!--

<graph>
<graph-side-panel-tools>
<graph-new-entity entity-identifier="firstEntity">
<div class="entityOneIcon"></div>Other content...
</graph-new-entity>
<graph-existing-entities entity-identifier="firstEntity">
{{entity.name}} Other content...
</graph-existing-entities>
</graph-side-panel-tools>
<graph-side-panel-details>
Content
</graph-side-panel-details>
</graph>

-->
