<style>
.selectedDiv {
display: flex;
flex-direction: column;
justify-content: space-between;
}
.dataStyle {
margin-left : 150px;
color : orange;
}
.checkmark {
border: 2px solid var(--secondary-text-color) !important;
border-radius: 2px  !important;
height: 12px  !important;
margin: 12px  !important;
width: 12px  !important;
}
</style>
<div class="" ng-if="ingest.batchSelected">
  <div class="row">
    <div class="card">
      <p>To start manual ingestion, enter metadata  and data uri.</p>
      <div class="spacer"></div>
      <form ng-submit="ingest.onSubmit()" name="ingest.form" novalidate>
        
        <formly-form model="ingest.model" fields="ingest.fields" options="ingest.options" form="ingest.form">
        </formly-form>
        
        <md-button type="submit" class="btn blue md-raised md-button md-ink-ripple" ng-disabled="ingest.form.$invalid">Ingest</md-button>
        <a ng-hide="!ingest.loading" href="#/monitoring/jobs/status/ingest/{{ingest.jobStatus}}">Check Job Status</a>
      </form>
    </div>
  </div>
</div>

