<div ng-include src="'views/core/core.top.html'"></div>
<div layout="column" tabindex="-1" role="main" flex="" class="layout-column flex">
  <md-content md-scroll-y="" layout="column" flex="" class="_md layout-column flex">
      <div ng-include src="'views/top.html'"></div>
      <div class="container">
        <md-content>
          <md-tabs md-dynamic-height md-border-bottom md-selected="metadata.selectedTab">

            <md-tab label="GENERATOR">
              <md-content class="md-padding">
                <div ng-include src="'views/ingestion/metadata/generator.html'"></div>
              </md-content>
            </md-tab>

            <md-tab label="EDITOR">
              <md-content class="md-padding">
                <div ng-include src="'views/ingestion/metadata/validate.html'"></div>
              </md-content>
            </md-tab>

            <!--
            <md-tab label="ONBOARDED METADATA">
              <md-content class="md-padding">
              </md-content>
            </md-tab>
          -->



          </md-tabs>
        </md-content>
      </div>
  </md-content>
</div>