<div ng-include src="'views/core/core.top.html'"></div>
<div layout="column" tabindex="-1" role="main" flex="" class="layout-column flex">
  <md-content md-scroll-y="" layout="column" flex="" class="_md layout-column flex">
  <div ng-include src="'views/top.html'"></div>
  <div class="container">
    <div class="spacer"></div>
    <h5>Onobard registered sources to prepare for ingestion.</h5>
    <div class="spacer"></div>
    <div class="">
      <div class="card container" style="outline:none;">
        <p>Select where to onboard</p>

<mdt-table 

table-card="{visible: true}"
        alternate-headers="'contextual'"
        delete-row-callback="deleteRowCallback(rows)"
        paginated-rows="{isEnabled: true, rowsPerPageValues: [10,20,50]}"
        mdt-row="{
        data: registeredMd,
        'table-row-id-key': 'md',
        'column-keys': [
        'md',
        'desc',
        'Instance_1',
        'Instance_2'
        ]
        }">
        <mdt-header-row>
        <mdt-column align-rule="left">Metadata URI</mdt-column>
        <mdt-column align-rule="right">Description</mdt-column>
        <mdt-column align-rule="right">Instance 1 Onboard</mdt-column>
        <mdt-column align-rule="right">Instance 2 Onboard</mdt-column>
        </mdt-header-row>

        <mdt-custom-cell column-key="Instance_1">
            
            <md-checkbox ng-model="value" aria-label="Checkbox 1" class="md-primary"></md-checkbox>
            
        </mdt-custom-cell>

        <mdt-custom-cell column-key="Instance_2">
            
            <md-checkbox ng-model="value" aria-label="Checkbox 1" class="md-primary"></md-checkbox>
            
        </mdt-custom-cell>


        </mdt-table>
      </div>
      <div class="spacer"></div>

    </div>
  </div>
</div>
</md-content>
</div>