<div class="">
	<h5>New Scheduled Ingestion</h5>
	<div class="spacer"></div>
	<div class="row card">
		<p> </p>
		<div layout>
			<md-input-container class="md-block" flex="30">
			<label for="input_23">Ingestion Name</label>
			<input ng-model="user.firstName" class="ng-pristine ng-valid md-input ng-empty ng-touched" id="input_23" aria-invalid="false" style=""><div class="md-errors-spacer"></div>
			</md-input-container>
			<div flex="5"></div>
			<md-input-container class="md-block" flex="65">
			<label for="input_23">Source Link</label>
			<input ng-model="user.firstName" class="ng-pristine ng-valid md-input ng-empty ng-touched" id="input_23" aria-invalid="false" style=""><div class="md-errors-spacer"></div>
			</md-input-container>
		</div>
		<div layout ng-controller="IngestCtrl">
			<md-input-container flex="15">
			<label for="">Every</label>
			<md-select ng-model="selectedUnit" placeholder="Select a unit">
			<md-option ng-value="unit" ng-repeat="unit in units">{{ unit }}</md-option>
			</md-select>
			</md-input-container>
			<div flex="5"></div>
			<md-input-container flex="15">
			<md-select ng-model="selectedMetrix" placeholder="Select a unit">
			<md-option ng-value="metrix" ng-repeat="metrix in metrixs">{{ metrix.name }}</md-option>
			</md-select>
			</md-input-container>
			<div flex="5"></div>
			<md-input-container flex="25">
			<label>Start Date</label>
			<md-datepicker ng-model="myDate" md-placeholder="Select a date"></md-datepicker>
			</md-input-container>
			<md-input-container flex="25">
			<label>End Date</label>
			<md-datepicker ng-model="myDate" md-placeholder="Select a date"></md-datepicker>
			</md-input-container>
		</div>
		<md-button style="margin-right:10px;" class="btn blue md-raised">Schedule</md-button>
		<div class="spacer"></div>
	</div>
	<div class="spacer"></div>
	<h5>All Scheduled Ingestions</h5>
	<div class="spacer"></div>
	<div class="row card">
		<div class="spacer"></div>
		<div class="spacer"></div>
		<div layout="row">
			<table class="bordered" style="width:100%; text-align: center;">
				<thead style="">
					<tr>
						<th data-field="s">Status</th>
						<th data-field="n">Name</th>
						<th data-field="l">Last Run</th>
						<th data-field="f">Frequency</th>
						<th data-field="s">Source</th>
						<th data-field="s">Start Date</th>
						<th data-field="e">End Date</th>
						<th data-field="o"></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><div class="status-green gb_uc ng-binding" ng-click="showOperationsDialog($event)" role="button" tabindex="0">
							OK
						</div></td>
						<td>Demo Source 1</td>
						<td>10m ago</td>
						<td>1h</td>
						<td>demosourceNP1.xml</td>
						<td>2016-11-10</td>
						<td>2016-11-27</td>
						<td><md-button style="margin-right:10px;" class="btn orange md-raised">Edit</md-button><md-button class="btn gray md-raised">Delete</md-button></td>
					</tr>
					<tr>
						<td><div class="status-green gb_uc ng-binding" ng-click="showOperationsDialog($event)" role="button" tabindex="0">
							OK
						</div></td>
						<td>Demo Source 2</td>
						<td>2h ago</td>
						<td>2d</td>
						<td>demosourceNP2.xml</td>
						<td>2016-11-5</td>
						<td>2016-12-29</td>
						<td><md-button style="margin-right:10px;" class="btn orange md-raised">Edit</md-button><md-button class="btn gray md-raised">Delete</md-button></td>
					</tr>
					<tr>
						<td><div class="status-green gb_uc ng-binding" ng-click="showOperationsDialog($event)" role="button" tabindex="0">
							OK
						</div></td>
						<td>Demo Source 3</td>
						<td>90m ago</td>
						<td>6h</td>
						<td>demosourceNP3.xml</td>
						<td>2016-11-10</td>
						<td>2016-11-27</td>
						<td><md-button style="margin-right:10px;" class="btn orange md-raised">Edit</md-button><md-button class="btn gray md-raised">Delete</md-button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>