<div ng-include src="'views/core/core.top.html'"></div>
<div layout="column" tabindex="-1" role="main" flex="" class="layout-column flex">
	<md-content md-scroll-y="" layout="column" flex="" class="_md layout-column flex">
	<div ng-include src="'views/top.html'"></div>
	<div class="container">

<h5 ng-hide="configForm" ><a ng-href="/#/configuration/{{ instanceId }}">{{ instanceName }}</a> / New configuration</h5>

<div class="spacer"></div>

		<div ng-hide="configForm" class="card" >
		<div class="spacer"></div>

			<p>Select the configuration type and give it a name (no spaces, or special charactors), hit fetch and the default configuration will be fetched. Edit it per your requirements before saving.</p>

			<form ng-submit="vm.newConfigSubmit()" name="vm.form2" novalidate>
				<formly-form model="vm.newConfigModel" fields="vm.newConfigFields" options="vm.newConfigOptions" form="vm.form2">
				</formly-form>
				<md-button type="submit" class="btn blue md-raised md-button md-ink-ripple" ng-disabled="vm.form2.$invalid">Fetch Defaults</md-button>
			</form>
		</div>

		<div ng-show="configForm">
		<div class="spacer"></div>
		<h5>New Configuration for <a ng-href="/#/configuration/{{ instanceId }}">{{ instanceName }}</a> / {{ configType }} / {{ configPro }} </h5>
		<div class="spacer"></div>
		<div class="card" ng-show="configForm">

		<p>Edit below configuration, and save to add the new profile.</p>

			
			<form ng-submit="vm.onSubmit()" name="vm.form" novalidate>
				<div class="spacer"></div>
				<formly-form model="vm.model" fields="vm.fields" options="vm.options" form="vm.form">
				</formly-form>
				<md-button type="submit" class="btn blue md-raised md-button md-ink-ripple" ng-disabled="vm.form.$invalid">Save</md-button>
			</form>
		</div>
		</div>

	<a ng-href="/#/configuration/{{ instanceId }}"><md-button class="md-button md-ink-ripple ng-binding">Back to Instance Configs</md-button></a>


	</div>

	