<div ng-include src="'views/core/core.top.html'"></div>
<div layout="column" tabindex="-1" role="main" flex="" class="layout-column flex">
	<md-content md-scroll-y="" layout="column" flex="" class="_md layout-column flex">
	<div ng-include src="'views/top.html'"></div>
	<div class="container">
		<h5><a ng-href="/#/configuration/{{ instanceId }}">{{ instanceName }} configuration</a>: <b>{{ configType }}/{{ configPro }}</b></h5>
		<div class="spacer"></div>

		<div class="spacer"></div>
		<div class="card">
			<form ng-submit="vm.onSubmit()" name="vm.form" novalidate>
				<div class="spacer"></div>
				<formly-form model="vm.model" fields="vm.fields" options="vm.options" form="vm.form">
				</formly-form>
				<md-button type="submit" class="btn blue md-raised md-button md-ink-ripple" ng-disabled="vm.form.$invalid">Save</md-button>
			</form>
		</div>
	
		<a ng-href="/#/configuration/{{ instanceId }}"><md-button class="md-button md-ink-ripple ng-binding">Back to Instance Configs</md-button></a>


	</div>



	