<h5>New Ingestion Engine Instance</h5>
<div class="spacer"></div>
<div ng-controller="IngestionEngineInstancesCtrl as vm">
  <div class="card">
    <p>
      Specify an existing Ingestion Engine instance to use prior to setting-up your data ingestion jobs, or, create a new Ingestion Engine below.
    </p>
    
    <form ng-submit="vm.onSubmit()" name="vm.form" novalidate>
      <div class="spacer"></div>
      <formly-form model="vm.model" fields="vm.fields" options="vm.options" form="vm.form">
        <md-button type="submit" class="btn blue md-raised md-button md-ink-ripple" ng-disabled="vm.form.$invalid">Save</md-button>
      </formly-form>
    </form>



  </div>
  <div class="spacer"></div>
  <h5>Ingestion Engine Instances</h5>
  <div class="spacer"></div>
  <div class="card">
    
    <table st-table="" st-safe-src="Rinstances" class="table table-striped table-bordered">
      <thead style="text-align:left;">
        <tr>
          <!--<th st-sort="id" width="100px">ID</th>-->
          <th st-sort="role" colspan="1">Name</th>
          <th st-sort="role" colspan="1">Groups</th>
          <th st-sort="ip" colspan="3">Gateway URI</th>
          <th st-sort="ip" colspan="3">Metadata Registry URI</th>
          <th></th>
        </tr>
        <tr>
          <!--<th colspan="5">
            <md-input-container class="" style="margin: 10px 0 0;
            padding-bottom: 0;
            height: 35px;">
            <i class="material-icons disabled tooltipped disabled" data-position="right" data-delay="50" data-tooltip="">info_outline</i>
            <input id=""  st-search type="search" class="validate md-input"><div class="md-errors-spacer"></div>
            <label for="Rinstances">Filter</label>
            </md-input-container>
          </th>
          <input st-search placeholder="Search..." class="input-sm form-control" type="search"/></th>
        </tr>-->
      </thead>
      <tbody>
        <tr ng-repeat="row in Rinstances" style="height:100px">
          <!--<td>{{row.id}}</td>-->
          <td colspan="1">
            <md-input-container class="md-block" ng-show="row.editable" style="padding-right: 10px;width: inherit;"><input class="form-control" type="text" ng-model="row.name"></md-input-container>
            <span ng-hide="row.editable">{{row.name}}</span>
          </td>


          <td colspan="1" style="padding-right: 20px;">

              <oi-select oi-options="item.group for item in securityGroups track by item.id"
              ng-model="row.groups"
              multiple
              placeholder="Select" ng-change="clickedInstance(row)"></oi-select>

          </td>


          <td colspan="3">
            <md-input-container class="md-block" ng-show="row.editable"><input class="form-control" type="text" ng-model="row.ip"></md-input-container>
            <span  ng-hide="row.editable">{{row.ip}}</span>
          </td>

          <td colspan="3">
            <md-input-container class="md-block" ng-show="row.editable"><input class="form-control" type="text" ng-model="row.mdreg"></md-input-container>
            <span  ng-hide="row.editable">{{row.mdreg}}</span>
          </td>

          <td style="padding:10px;">
            
            <!--
            <span ng-if="row.selected === false">
              <button type="button" ng-click="selectInstance($index)" class="btn orange md-raised md-button md-ink-ripple sm-btn" ng-hide="row.editable"> OFF </button>
            </span>
            <span ng-if="row.selected === true">
              <button type="button" ng-click="selectInstance($index)" class="btn blue md-raised md-button md-ink-ripple sm-btn" ng-hide="row.editable"> ON </button>
            </span>
          -->
            <button type="button" ng-click="editRow($index)" class="btn blue md-raised md-button md-ink-ripple sm-btn" ng-hide="row.editable"> Edit</button>

            <button type="button" ng-click="saveRow($index)" class="btn blue md-raised md-button md-ink-ripple sm-btn" ng-show="row.editable">Save</button>

            <a ng-href="/#/configuration/{{row.id}}">
              <button type="button" class="btn orange md-raised md-button md-ink-ripple sm-btn">Properties</button>
            </a>
            
            <button type="button" ng-click="removeRow($index)" class="btn red md-raised md-button md-ink-ripple sm-btn"> Remove </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>