<div ng-include src="'views/core/core.top.html'"></div>
<div layout="column" tabindex="-1" role="main" flex="" class="layout-column flex">
    <md-content md-scroll-y="" layout="column" flex="" class="_md layout-column flex">
    <div ng-include src="'views/top.html'"></div>
    <div class="container">
        <h5>{{ instanceName }} - System Configuration</h5>
        <div class="spacer"></div>
        <div class="card hidden"><button class="btn blue md-raised md-button md-ink-ripple sm-btn" ng-click="accordion.toggle(0)">Start Editing</button>
            <button class="btn gray md-raised md-button md-ink-ripple sm-btn" ng-click="accordion.expandAll()">Expand all</button>
        <button class="btn gray md-raised md-button md-ink-ripple sm-btn" ng-click="accordion.collapseAll()">Collapse all</button></div>
        <div class="card">
            <div ng-hide="instanceConfigsTable">There aren't any configs for this instance yet, let's create them.</div>
            <div ng-show="instanceConfigsTable">
                <mdt-table table-card="{visible: true}"
                alternate-headers="'contextual'"
                delete-row-callback="deleteRowCallback(rows)"
                
                mdt-row="{
                data: instanceConfigs,
                'table-row-id-key': 'values.instance_name',
                'column-keys': [
                'values.instance_name',
                'values.description',
                'values.profile'
                ]
                }">
                <mdt-header-row>
                <mdt-column align-rule="left">Name</mdt-column>
                <mdt-column align-rule="right">Description</mdt-column>
                <mdt-column align-rule="right">Edit</mdt-column>
                <!--<mdt-column align-rule="right">Delete</mdt-column>-->
                <mdt-custom-cell column-key="values.profile">
                <!--<a ng-href="/#{{clientScope.path}}/{{rowId}}">-->

                    <config-profile data-profiles="value" data-config="{{rowId}}" data-path="{{clientScope.path}}"/>  

                <!--</a>-->
                </mdt-custom-cell>
                <mdt-custom-cell column-key="delete">
                <button type="button" ng-click="deleteRow($index)" class="md-button md-ink-ripple" ng-hide="row.editable" aria-hidden="false"> Delete</button>
                </mdt-custom-cell>
                </mdt-header-row>
                </mdt-table>
            </div>
            <div class="spacer"></div>
            <div class="spacer"></div>
            <md-button ng-href="/#{{path}}/add" class="btn blue md-raised md-button md-ink-ripple" >Add New</md-button>
            <!--</v-accordion>-->
        </div>
    </div>