<h5>System Configuration</h5>
<div class="spacer"></div>
<div class="card"><button class="btn blue md-raised md-button md-ink-ripple sm-btn" ng-click="accordion.toggle(0)">Start Editing</button>
    <button class="btn gray md-raised md-button md-ink-ripple sm-btn" ng-click="accordion.expandAll()">Expand all</button>
<button class="btn gray md-raised md-button md-ink-ripple sm-btn" ng-click="accordion.collapseAll()">Collapse all</button></div>
<div class="row card disabled">
    <ul md-ink-ripple="#f1f1f1" class="">
        <li> <A HREF="kerberos">Kerberos</A></li>
        <li> <A HREF="atlas">Atlas (point to URI)</A></li>
        <li> <A HREF="zookeeper">ZooKeeper (point to URI)</A></li>
        <li> <A HREF="ranger">Ranger (Connection to Ranger URI)</A></li>
        <li> <A HREF="mysql">MySQL configuration</A></li>
        <li> <A HREF="yarn">YARN</A></li>
        <li> <A HREF="spring">Spring Cloud</A></li>
        <li> <A HREF="server">Config server</A></li>
    </ul>
</div>
<v-accordion id="accordion" class="vAccordion--default card" multiple control="accordion">
<form ng-submit="vm.onSubmit()" name="vm.form" novalidate>
    <div class="spacer"></div>
    <v-pane>
    <v-pane-header>
    General properties
    </v-pane-header>
    <v-pane-content class="container">
    
    <formly-form model="vm.model" fields="vm.fields.one" options="vm.options" form="vm.form">
    </formly-form>
    </v-pane-content>
    </v-pane>
    <v-pane>
    <v-pane-header>
    Configuration of parallel transformation of source file leveraging MapReduce jobs
    </v-pane-header>
    <v-pane-content class="container">
    <formly-form model="vm.model" fields="vm.fields.two" options="vm.options" form="vm.form">
    </formly-form>
    </v-pane-content>
    </v-pane>
    <v-pane>
    <v-pane-header>
    HDFS locations configuration properties
    </v-pane-header>
    <v-pane-content class="container">
    <formly-form model="vm.model" fields="vm.fields.three" options="vm.options" form="vm.form">
    </formly-form>
    </v-pane-content>
    </v-pane>
    <v-pane>
    <v-pane-header>
    Confidentiality classification folder support
    </v-pane-header>
    <v-pane-content class="container">
    <formly-form model="vm.model" fields="vm.fields.four" options="vm.options" form="vm.form">
    </formly-form>
    </v-pane-content>
    </v-pane>
    <v-pane>
    <v-pane-header>
    Atlas configuration properties
    </v-pane-header>
    <v-pane-content class="container">
    <formly-form model="vm.model" fields="vm.fields.five" options="vm.options" form="vm.form">
    </formly-form>
    </v-pane-content>
    </v-pane>
    <v-pane>
    <v-pane-header>
    Ranger configuration properties
    </v-pane-header>
    <v-pane-content class="container">
    <formly-form model="vm.model" fields="vm.fields.six" options="vm.options" form="vm.form">
    </formly-form>
    </v-pane-content>
    </v-pane>
    <v-pane>
    <v-pane-header>
    Access level permissions configuration properties
    </v-pane-header>
    <v-pane-content class="container">
    <formly-form model="vm.model" fields="vm.fields.seven" options="vm.options" form="vm.form">
    </formly-form>
    </v-pane-content>
    </v-pane>
    <v-pane>
    <v-pane-header>
    SFTP configuration properties
    </v-pane-header>
    <v-pane-content class="container">
    <formly-form model="vm.model" fields="vm.fields.seven" options="vm.options" form="vm.form">
    </formly-form>
    </v-pane-content>
    </v-pane>
    <v-pane>
    <v-pane-header>
    Configuration for unsecured environment - ingest-job.properties configuration
    </v-pane-header>
    <v-pane-content class="container">
    <formly-form model="vm.model" fields="vm.fields.eight" options="vm.options" form="vm.form">
    </formly-form>
    </v-pane-content>
    </v-pane>
    <v-pane>
    <v-pane-header>
    Configuration for secured - Kerberized environment - ingest-job.properties configuration
    </v-pane-header>
    <v-pane-content class="container">
    <formly-form model="vm.model" fields="vm.fields.nine" options="vm.options" form="vm.form">
    </formly-form>
    </v-pane-content>
    </v-pane>
    <v-pane>
    <v-pane-header>
    REST API gateway configuration properties
    </v-pane-header>
    <v-pane-content class="container">
    <formly-form model="vm.model" fields="vm.fields.ten" options="vm.options" form="vm.form">
    </formly-form>
    </v-pane-content>
    </v-pane>
    <v-pane>
    <v-pane-header>
    SSL configuration of the REST points(server)
    </v-pane-header>
    <v-pane-content class="container">
    <formly-form model="vm.model" fields="vm.fields.eleven" options="vm.options" form="vm.form">
    </formly-form>
    </v-pane-content>
    </v-pane>
    <v-pane>
    <v-pane-header>
    Configuration properties for Kerberized environment
    </v-pane-header>
    <v-pane-content class="container">
    spring.profiles.include=security-kerberos
    ca.nextpathway.ingest.api.security.serviceKeytabLocation=/usr/keytabs/ingest.keytab
    ca.nextpathway.ingest.api.security.servicePrincipal= HTTP/ingest@EXAMPLE.COM
</div>
</v-pane>
<md-button type="submit" class="btn blue md-raised md-button md-ink-ripple" ng-disabled="vm.form.$invalid">Submit</md-button>
<md-button type="button" class="md-raised" ng-click="vm.options.resetModel()">Reset</md-button>
</form>
</v-accordion>