	
<!--	
	<md-input-container class="md-block">
	<label>Start Date</label>
	<md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>
	</md-input-container>

	<md-input-container class="md-block">
	<label>End Date</label>
	<md-datepicker ng-model="myDate2" md-placeholder="Enter date"></md-datepicker>
	</md-input-container>
-->

<label style="font-size: 11px;">*Number of Files Ingested</label>
<canvas id="base" class="chart-bar"
chart-data="item.payload.data" chart-labels="item.payload.labels" chart-colors="colors" chart-series="series"
chart-dataset-override="item.payload.override" >
</canvas>

