<div ng-controller="IngestionEngineInstancesCtrl">
<table st-table="instances" class="table table-striped table-bordered">
  <thead style="text-align:left;">
    <tr>
      <th st-sort="id" width="150px"></th>
      <th st-sort="role" width="200px"></th>
      <th></th>
    </tr>
    <tr>
      <th colspan="5">
        <md-input-container class="" style="margin: 10px 0 0;
        padding-bottom: 0;
        height: 35px;">
        <i class="material-icons disabled tooltipped disabled" data-position="right" data-delay="50" data-tooltip="Location to create Job Status marker files. The property should point to an existing local folder or HDFS folder.">info_outline</i>
        <input id=""  st-search type="search" class="validate md-input"><div class="md-errors-spacer"></div>
        <label for="">Filter</label>
        </md-input-container>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="row in instances">
      <!--<td>{{row.id}}</td>-->
      <td>
        <input class="form-control" type="text" ng-model="row.name" ng-show="row.editable">
        <span ng-hide="row.editable">{{row.name}}</span>
      </td>
      <td>
  
        <span ng-if="row.selected === false">
          <button type="button" ng-click="selectInstance($index)" class="btn gray md-raised md-button md-ink-ripple sm-btn" ng-hide="row.editable"> Switch </button>
        </span>
        <span ng-if="row.selected === true">
          <button type="button" ng-click="" class="btn blue md-raised md-button md-ink-ripple sm-btn" ng-hide="row.editable"> Enabled </button>
        </span>
        
      </td>
    </tr>
  </tbody>
</table>
</div>

<div class="spacer"></div>
<div class="spacer"></div>

<a href="#/configuration">
<button type="button" ng-click="" class="btn white md-raised md-button md-ink-ripple sm-btn" ng-hide="" aria-hidden="false">Edit</button>
</a>
