<div ng-controller="IngestCtrl">
	<table st-table="rtsList" class="table table-striped table-bordered">
		<thead style="text-align:left;">
			<tr>
				<th colspan="4">
					<md-input-container class="" style="margin: 10px 0 0;
					padding-bottom: 0;
					height: 35px;">
					<i class="material-icons disabled tooltipped disabled" data-position="right" data-delay="50" data-tooltip="Location to create Job Status marker files. The property should point to an existing local folder or HDFS folder.">info_outline</i>
					<input id=""  st-search type="search" class="validate md-input"><div class="md-errors-spacer"></div>
					<label for="">Filter</label>
					</md-input-container>
				</th>
			</tr>
			<tr>
				<th st-sort="sourceId" width="100px">ID</th>
				<th st-sort="sourceName" width="150px">Name</th>
				<th st-sort="sourceTopic" width="250px">Topic</th>
				<th>Operations</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="rts in rtsList">
				<td>{{rts.sourceId}}</td>
				<td>
					<input class="form-control" type="text" ng-model="rts.sourceName" ng-show="rts.editable">
					<span ng-hide="rts.editable">{{rts.sourceName}}</span>
				</td>
				<td>
					<span>{{rts.sourceTopic}}</span>
				</td>
				<td>
					<button type="button" ng-click="editRow($index)" class="btn gray md-raised md-button  sm-btn" ng-hide="row.editable">Disable </button>
				</td>
			</tr>
		</tbody>
	</table>
</div>