<md-input-container class="md-block">
	<md-select ng-model="selectedNewWidget" placeholder="Select a new widget type" style="min-width:50px;">
	<md-option ng-value="item" ng-repeat="item in widgetTypes">{{ item }}</md-option>
	</md-select>
</md-input-container>