<canvas id="doughnut" class="chart chart-doughnut" style="width:100%;"
chart-data="item.payload.data" chart-labels="item.payload.label" chart-colors="colors">
</canvas>

<div ng-repeat="label in item.payload.label track by $index" class="chart-meta" style="display:inline-block; margin-right:16px;">
<p><b>{{label}}:</b> {{ item.payload.data[$index] }}</p>
</div>