<table width="100%" class="table hidden">
	<thead>
		<tr style="line-height:3;">
			<span ng-repeat="(header, value) in securityRules2[0]" ng-if="value.id === 1">
				<th >
					{{header}}
				</th>
			</span>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="row in securityRules2 | filter:searchText">
			<td ng-repeat="cell in row" style="text-align:center;">
				<span ng-if="cell != false && cell != true"> {{cell}} </span>
				<span ng-if="cell === false || cell === true">
					<md-checkbox ng-model="cell" aria-label="Checkbox 1" class="md-primary ng-valid ng-dirty ng-valid-parse ng-touched md-checked ng-not-empty">
					</md-checkbox>
				</span>
			</td>
		</tr>
	</tbody>
</table>
<table class="bordered hidden" style="width:100%">
	<thead style="text-align: left;">
		<tr>
			<th data-field="numbNodes">Role</th>
			<th data-field="groupName">Group Name</th>
			<th data-field="options"></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Risk and Regulatory</td>
			<td>Producers</td>
			<td><md-button style="margin-right:10px;" class="btn orange md-raised">Edit</md-button><md-button class="btn gray md-raised">Delete</md-button></td>
		</tr>
		<tr>
			<td>EDL CoE</td>
			<td>CoE</td>
			<td><md-button style="margin-right:10px;" class="btn orange md-raised">Edit</md-button><md-button class="btn gray md-raised">Delete</md-button></td>
		</tr>
		<tr>
			<td>Infrastructure</td>
			<td>Operations</td>
			<td><md-button style="margin-right:10px;" class="btn orange md-raised">Edit</md-button><md-button class="btn gray md-raised">Delete</md-button></td>
		</tr>
		<tr>
			<td>Enterprise Information Management</td>
			<td>Consumers</td>
			<td><md-button style="margin-right:10px;" class="btn orange md-raised">Edit</md-button><md-button class="btn gray md-raised">Delete</md-button></td>
		</tr>
	</tbody>
</table>