<md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2 hide-print ng-isolate-scope _md md-closed md-locked-open" md-component-id="left" hide-print="" md-is-locked-open="$mdMedia('gt-sm')" tabindex="-1">
<span ng-include src="'views/menu.html'"></span>
</md-sidenav>
<div style="    position: absolute;
    bottom: 0;
    font-size: 10px;
    padding: 5px;">v0.01</div>