<div layout="row" flex="noshrink" layout-align="center center" class="layout-align-center-center layout-row flex-noshrink">
	<div id="license-footer" flex="" class="ng-binding flex">
		Powered by Next Pathway ©2014–2016.
		Code licensed under the <a ng-href="./license" class="md-accent" href="./license">MIT License</a>.
	</div>
</div>