 <form action="/request-password-reset" method="post">
    <fieldset>
      <legend>Reset password form</legend>
      <div>
        <label for="email">Email:</label>
        <input type="text" name="email" value="<%= email %>"/>
      </div>
      <div>
        <input type="submit" value="Reset password"/>
      </div>
    </fieldset>
  </form>