<h5>Role Management</h5>
<div class="spacer"></div>
<div class="row card">
	<div class="spacer"></div>
	<!--<p>Easily configure user groups based on differentiated levels of security classification, and based on roles established by the Data Lake CoE</p>-->
	<table st-table="Roles" class="table table-striped table-bordered">
		<thead style="text-align:left;">
			<tr>
				<th st-sort="id" width="150px">Role</th>
				<!--<th st-sort="role" width="200px">Role</th>-->
				<th st-sort="groups" width="400px">Groups</th>
				<!--<th st-sort="tasks">Tasks</th>-->
				<th></th>
			</tr>
			<tr>
				<th colspan="5">
					<md-input-container class="" style="margin: 10px 0 0;
					padding-bottom: 0;
					height: 35px;">
					<i class="material-icons disabled tooltipped disabled" data-position="right" data-delay="50" data-tooltip="Location to create Job Status marker files. The property should point to an existing local folder or HDFS folder.">info_outline</i>
					<input id=""  st-search type="search" class="validate md-input"><div class="md-errors-spacer"></div>
					<label for="">Filter</label>
					</md-input-container>
				</th>
				<!--<input st-search placeholder="Search..." class="input-sm form-control" type="search"/></th>-->
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="role in Roles">
				<!--<td>{{role.id}}</td>-->
				<td style="width:100px;">
					<input class="form-control" type="text" ng-model="role.role" ng-show="role.editable">
					<span ng-hide="role.editable">{{role.role}}</span>
				</td>
				<td>
					<oi-select ng-hide="role.editable" oi-options="item.group for item in securityGroups track by item.id" ng-model="role.groups" multiple placeholder="Select" ng-change="clickedGroup(role)"></oi-select>
				</td>
				<!--<td>
						<span ng-repeat="task in role.tasks">
								{{task}}
						</span>
				</td>-->
				<td>
					<button type="button" ng-click="editRow($index)" class="btn orange md-raised md-button md-ink-ripple sm-btn" ng-hide="role.editable"> Edit</button>
					<button type="button" ng-click="saveRow($index)" class="btn blue md-raised md-button md-ink-ripple sm-btn" ng-show="role.editable"> Save</button>
					<button type="button" ng-click="removeRow($index)" class="btn red md-raised md-button md-ink-ripple sm-btn"> Delete </button>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="text-center">
		<md-button style="margin-right:10px;" ng-click="addRow()" class="btn blue md-raised">Add A Role</md-button>
	</div>
	<table width="100%" class="table hidden">
		<thead>
			<tr style="line-height:3;">
				<span ng-repeat="(header, value) in Roles[0]" ng-if="value.id === 1">
					<th >
						{{header}}
					</th>
				</span>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="row in Roles | filter:searchText">
				<td ng-repeat="cell in row" style="text-align:center;">
					<span ng-if="cell != false && cell != true"> {{cell}} </span>
					<span ng-if="cell === false || cell === true">
						<md-checkbox ng-model="cell" aria-label="Checkbox 1" class="md-primary ng-valid ng-dirty ng-valid-parse ng-touched md-checked ng-not-empty">
						</md-checkbox>
					</span>
				</td>
			</tr>
		</tbody>
	</table>
	<table class="bordered hidden" style="width:100%">
		<thead style="text-align: left;">
			<tr>
				<th data-field="numbNodes">Role</th>
				<th data-field="groupName">Group Name</th>
				<th data-field="options"></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Risk and Regulatory</td>
				<td>Producers</td>
				<td><md-button style="margin-right:10px;" class="btn orange md-raised">Edit</md-button><md-button class="btn gray md-raised">Delete</md-button></td>
			</tr>
			<tr>
				<td>EDL CoE</td>
				<td>CoE</td>
				<td><md-button style="margin-right:10px;" class="btn orange md-raised">Edit</md-button><md-button class="btn gray md-raised">Delete</md-button></td>
			</tr>
			<tr>
				<td>Infrastructure</td>
				<td>Operations</td>
				<td><md-button style="margin-right:10px;" class="btn orange md-raised">Edit</md-button><md-button class="btn gray md-raised">Delete</md-button></td>
			</tr>
			<tr>
				<td>Enterprise Information Management</td>
				<td>Consumers</td>
				<td><md-button style="margin-right:10px;" class="btn orange md-raised">Edit</md-button><md-button class="btn gray md-raised">Delete</md-button></td>
			</tr>
		</tbody>
	</table>
	<div class="spacer"></div>
</div>
<div class="spacer"></div>