<h5>Security Classification</h5>
<p>Specify security classifications based on the metadata for each file prior to ingestion.</p>
<div class="spacer"></div>
<div class="row card">
  <p>InfoSec</p>
  <div ng-controller="SecurityclassCtrl as ctrl" layout="column" ng-cloak>
    <form name="fruitForm">
      <md-chips ng-model="ctrl.roFruitNames" name="fruitName" readonly="ctrl.readonly"
      md-removable="ctrl.removable" md-max-chips="">
      <md-chip-template>
      <strong>{{$chip}}</strong>
      <em></em>
      </md-chip-template>
      </md-chips>
      <div class="errors" ng-messages="fruitForm.fruitName.$error">
        <div ng-message="md-max-chips">The maxmium of chips is reached.</div>
      </div>
    </form>
  </div>
  <div class="spacer"></div>
  <md-button style="margin-right:10px;" class="btn blue md-raised">Save</md-button>
</div>
<div class="spacer"></div>
<div class="row card">
  <p>Business-Regulatory</p>
  <div ng-controller="SecurityclassCtrl as ctrl" layout="column" ng-cloak>
    <form name="fruitForm">
      <md-chips ng-model="ctrl.roFruitNames" name="fruitName" readonly="ctrl.readonly"
      md-removable="ctrl.removable" md-max-chips="">
      <md-chip-template>
      <strong>{{$chip}}</strong>
      <em></em>
      </md-chip-template>
      </md-chips>
      <div class="errors" ng-messages="fruitForm.fruitName.$error">
        <div ng-message="md-max-chips">The maxmium of chips is reached.</div>
      </div>
    </form>
  </div>
  <div class="spacer"></div>
  <md-button style="margin-right:10px;" class="btn blue md-raised">Save</md-button>
</div>
<div class="spacer"></div>