<h5>User Permissions</h5>
<div class="spacer"></div>
<div class="row card">
  <p>Update the role permissions for each role below</p>
  <div class="spacer"></div>
  <table class="table table-striped" ng-table="securityTable" style="width:100%">
    <thead style="text-align: center;">
      <tr><th>Role</th><th data-ng-repeat="permission in permissions track by $index">{{permission.name}}</th></tr>
    <tr style="height: 10px;"></tr>
  </thead>
  <tbody>
    <tr data-ng-repeat="(taskKey, taskContent) in Roles">
      <td>{{taskContent.role}}</td>
      <td data-ng-repeat="permission in permissions track by $index" style="text-align: center;" >

        <md-checkbox ng-model="taskContent.permissions[permission.id]" aria-label="Checkbox 1" class="md-primary ng-valid ng-dirty ng-valid-parse ng-touched md-checked ng-not-empty" ng-change="clickedPermission(taskContent)" >
        </md-checkbox>


      </td>
    </tr>
    <tr ng-show="addTaskCheck">
      <td>
        <input type="text" ng-model="newTask">
      </td>
      <td data-ng-repeat="permission in permissions">
        <md-checkbox ng-model="cell" aria-label="Checkbox 1" class="md-primary ng-valid ng-dirty ng-valid-parse ng-touched md-checked ng-not-empty" ng-model="permission.tasks[tasksLen]">
        </md-checkbox>
      </td>
    </tr>
  </tbody>
</table>

<div>
  <button class="btn blue md-raised md-button md-ink-ripple sm-btn hidden" ng-click="addSecurityRowInline()">Add New Task</button>
  
  <!--<form ng-show="hide" class="form-horizontal hidden" role="form" ng-submit="addSecurityRulesRow()">
    <div>
      <label> id</label>
      <input type="text" ng-model="newSecurityRule.id">
    </div>
    <div>
      <label>role</label>
      <input type="text" ng-model="newSecurityRule.role">
    </div>
    <div data-ng-repeat="(taskKey, taskContent) in securityTasks">
      <label>{{taskContent}}</label>
      <input type="checkbox" ng-model="newRuleTask[taskKey]">
    </div>
    <input type="submit" value="Submit" class="btn btn-default">
  </form>-->
  
</div>

<div><!--
  <button class="btn orange md-raised md-button md-ink-ripple sm-btn" ng-click="addTask()"> Add Task
  </button>
  
  <input type="button" class="btn blue md-raised md-button md-ink-ripple sm-btn" ng-click="saveTask()" value="save">-->
  
  <button class="btn gray md-raised md-button md-ink-ripple sm-btn hidden" ng-click="addSecurityRulesRowInline($event)">Add</button>
  
  
</div>