
<div ng-include src="'views/core/core.top.html'"></div>

<div layout="column" tabindex="-1" role="main" flex="" class="layout-column flex">

  <md-content md-scroll-y="" layout="column" flex="" class="_md layout-column flex">


      <div ng-include src="'views/top.html'"></div>

      <div class="container">


	<div class="card">
		
<div >
               <form name="userForm" >
                   <div ng-repeat="item in sourceInputs track by item.id" >
                       <div layout-gt-xs="row" ng-if="item.type === 'text'" data-ng-init="input[item.id] = item.value">
                           <md-input-container class="md-block" flex-gt-xs>
                               <label>{{item.label}}</label>
                               <input type="{{item.type}}" value="{{item.value}}" md-maxlength="{{item.maxlength}}" name="input{{item.id}}" ng-model="input[item.id]" ng-minlength="3" required aria-label="">
                               <div ng-messages="userForm['input' + item.id].$error">
                                   <p ng-message="required">Your input is required</p>
                                   <p ng-message="minlength">Your input is too short!</p>
                                   <p ng-message="maxlength">Your input is too long!</p>
                               </div>

                           </md-input-container>
                       </div>
                       <div layout-gt-xs="row" ng-if="item.type === 'select'" data-ng-init="input[item.id] = item.value">
                           <md-input-container class="md-block" flex-gx-sm>
                               <md-select aria-label="" ng-model="input[item.id]" md-maxlength="{{item.maxlength}}" required>
                                   <md-option ng-repeat="option in item.options.split(',') track by $index" value="{{option}}">{{option}}</md-option>
                               </md-select>
                               <div ng-messages="userform['input'+ item.id].$error">
                                   <p ng-message="required">Your input is required</p>
                               </div>
                           </md-input-container>
                       </div>
                       <div layout="row" layout-wrap ng-if="item.type === 'checkbox'" data-ng-init="selected = []; options = item.options.split(','); input[item.id] = item.value? '': item.value;" >
                           <md-checkbox aria-label="Select All"
                                        ng-checked="allChecked(selected, options)"
                                        md-indeterminate="isIndeterminate(selected, options)"
                                        ng-click="toggleAllCheckboxes(selected, options)">
                               <span ng-show="allChecked(selected, options)">Un-</span>Select All
                           </md-checkbox>
                           <div flex="100" ng-repeat="option in options track by $index">

                               <md-checkbox ng-checked="checkboxExists(option, $parent.selected)"  ng-click="checkboxToggle(option, $parent.selected)" >
                                   {{ option }}
                               </md-checkbox>
                           </div>

                           <div ng-show="selected.length === 0">
                                <p style="color:rgb(221,44,0)">*At least choosing one.</p>
                            </div>
                       </div>
                   </div>

                   <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                       <md-button class="md-raised" type="submit">Button</md-button>
                   </section>
               </form>
           </div>


<form>
	<textarea value="234234"  rows="10" cols="100">{{ sourceInputs }}</textarea>
</form>



	</div>






        
      </div>


  </md-content>

</div>