<div ng-include src="'views/core/core.top.html'"></div>
<div layout="column" tabindex="-1" role="main" flex="" class="layout-column flex">
	<md-content md-scroll-y="" layout="column" flex="" class="_md layout-column flex">
	<div ng-include src="'views/top.html'"></div>
	<div class="container">
		<div class="spacer"></div>
		<h5>Ingestion Job configuration properties</h5>
		<div class="spacer"></div>
		<v-accordion id="" class="vAccordion--default card" multiple>
		<v-pane>
		<v-pane-header>
		General properties
		</v-pane-header>
		<v-pane-content>
		<div class="spacer"></div>
		<div class="container">
			
			<div layout>
				<div flax>
					<md-input-container>
					<i class="material-icons disabled tooltipped disabled" data-position="right" data-delay="50" data-tooltip="Location to create Job Status marker files. The property should point to an existing local folder or HDFS folder.">info_outline</i>
					<input id="ca.nextpathway.ingest.batch.service.markerDirectory" type="text" class="validate">
					<label for="first_name">ca.nextpathway.ingest.batch.service.markerDirectory</label>
					</md-input-container>
				</div>
				<div flax>
					<md-input-container>
					<i class="material-icons disabled tooltipped disabled" data-position="right" data-delay="50" data-tooltip="Location of XSD schema file definition">info_outline</i>
					<input id="ca.nextpathway.ingest.batch.schemaLocation" type="text" class="validate" value="classpath:EDLMetadata.xsd">
					<label for="first_name">ca.nextpathway.ingest.batch.schemaLocation</label>
					</md-input-container>
				</div>
			</div>
			<div layout>
				
				<div flex>
					<label for="">ca.nextpathway.ingest.schema.parser.skipvalidation</label>
					<i class="material-icons disabled tooltipped" data-position="right" data-delay="50" data-tooltip="If set to true NPIF would NOT validate XML structure against EDLMetadata.xsd">info_outline</i>
					<div class="spacer"></div>
					<div class="switch">
						<label>
							False
							<input type="checkbox">
							<span class="lever"></span>
							True
						</label>
					</div>
				</div>
				<div flex>
					<label for="">ca.nextpathway.ingest.schema.metadata.skipvalidation</label>
					<i class="material-icons disabled tooltipped" data-position="right" data-delay="50" data-tooltip="If set to true NPIF would NOT validate logical values in the metadata xml">info_outline</i>
					<div class="spacer"></div>
					<div class="switch">
						<label>
							False
							<input type="checkbox">
							<span class="lever"></span>
							True
						</label>
					</div>
				</div>
			</div>
			<div class="spacer"></div>
			<div layout>
				<div flax>
					<md-input-container>
					<i class="material-icons disabled tooltipped" data-position="right" data-delay="50" data-tooltip="Regex to use when detecting textually encoded null values (i.e. NULL verbatim) in all values of files being ingested. Type-specific definitions defined in textToJava.properties file override this setting for a specified type. Format for this is Javascript-like, use /regex/ or /regex/i for case-insensitive matches.
					Example: /\s*(null|\(null\))\s*/i will convert null NULL or '   (null)   ' to a null value.">info_outline</i>
					<input id="ca.nextpathway.ingest.null_value.regex" type="text" class="validate">
					<label for="first_name">ca.nextpathway.ingest.null_value.regex</label>
					</md-input-container>
				</div>
				<div flax>
					<md-input-container>
					<i class="material-icons disabled tooltipped" data-position="right" data-delay="50" data-tooltip="Maximum size of a field in a flat(csv or fixed length) file">info_outline</i>
					<input value="128" id="ca.nextpathway.ingest.batch.schemaLocation" type="text" class="validate" value="classpath:EDLMetadata.xsd">
					<label for="first_name">ca.nextpathway.ingest.batch.schemaLocation</label>
					</md-input-container>
				</div>
			</div>
			<a class="md-raised md-button md-ink-ripple">Save All Settings</a>
			<div class="spacer"></div>
			<div class="spacer"></div>
		</div>
		</v-pane-content>
		</v-pane>
		<v-pane>
		<v-pane-header>
		Data types mapping configuration
		</v-pane-header>
		<v-pane-content>
		<div class="container">
			
			<div layout>
				<div class="spacer"></div>
				<div class="spacer"></div>
				
				<p>The Ingestion Framework configures data type mappings in the following files:</p>
				<div class="input-field col s4">
					<input id="All Cobol file formats" type="text" class="validate" value="cobolDataTypes.properties">
					<label for="first_name">All Cobol file formats</label>
				</div>
				<div class="input-field col s4">
					<input id="Delimited" type="text" class="validate" value="delimitedDataTypes.properties">
					<label for="first_name">Delimited</label>
				</div>
				<div class="input-field col s4">
					<input id="ca.nextpathway.ingest.batch.schemaLocation" type="text" class="validate" value="fixedLengthDataTypes.properties">
					<label for="first_name">Fixed Length</label>
				</div>
				<div class="spacer"></div>
				<a class="md-raised md-button md-ink-ripple">Save All Settings</a>
				<div class="spacer"></div>
				<div class="spacer"></div>
			</div>
		</div>
		</v-pane-content>
		</v-pane>
		<v-pane>
		<v-pane-header>
		Configuration of parallel transformation of source file leveraging MapReduce jobs
		</v-pane-header>
		<v-pane-content>
		</v-pane-content>
		</v-pane>
		<v-pane>
		<v-pane-header>
		HDFS locations configuration properties
		</v-pane-header>
		<v-pane-content>
		</v-pane-content>
		</v-pane>
		<v-pane>
		<v-pane-header>
		Confidentiality classification folder support
		</v-pane-header>
		<v-pane-content>
		</v-pane-content>
		</v-pane>
		<v-pane>
		<v-pane-header>
		Schema versioning configuration properties
		</v-pane-header>
		<v-pane-content>
		</v-pane-content>
		</v-pane>
		<v-pane>
		<v-pane-header>
		Schema Compatibility levels
		</v-pane-header>
		<v-pane-content>
		</v-pane-content>
		</v-pane>
		<v-pane>
		<v-pane-header>
		Hive configuration properties
		</v-pane-header>
		<v-pane-content>
		</v-pane-content>
		</v-pane>
		<v-pane>
		<v-pane-header>
		Atlas configuration properties
		</v-pane-header>
		<v-pane-content>
		</v-pane-content>
		</v-pane>
		<v-pane>
		<v-pane-header>
		Ranger configuration properties
		</v-pane-header>
		<v-pane-content>
		</v-pane-content>
		</v-pane>
		<v-pane>
		<v-pane-header>
		Access level permissions configuration properties
		</v-pane-header>
		<v-pane-content>
		</v-pane-content>
		</v-pane>
		<v-pane>
		<v-pane-header>
		SFTP configuration properties
		</v-pane-header>
		<v-pane-content>
		</v-pane-content>
		</v-pane>
		</v-accordion>
		<div class="spacer"></div>
		<h5>Configuration for unsecured and secured(Kerberized) environments</h5>
		<div class="spacer"></div>
		<v-accordion id="" class="vAccordion--default card" multiple>
		<v-pane>
		<v-pane-header>
		Configuration for unsecured environment
		</v-pane-header>
		<v-pane-content>
		</v-pane-content>
		</v-pane>
		<v-pane>
		<v-pane-header>
		Configuration for secured - Kerberized environment
		</v-pane-header>
		<v-pane-content>
		</v-pane-content>
		</v-pane>
		</v-accordion>
		<div class="spacer"></div>
		<h5>REST API gateway configuration properties</h5>
		<div class="spacer"></div>
		<v-accordion id="" class="vAccordion--default card" multiple>
		<v-pane>
		<v-pane-header>
		SSL configuration of the REST points(server)
		</v-pane-header>
		<v-pane-content>
		</v-pane-content>
		</v-pane>
		<v-pane>
		<v-pane-header>
		Configuration properties for Kerberized environment
		</v-pane-header>
		<v-pane-content>
	</div>
	</v-pane>
	</v-accordion>
</div>
</md-content>
</div>