<div ng-include src="'views/core/core.top.html'"></div>
<div layout="column" tabindex="-1" role="main" flex="" class="layout-column flex">
	<md-content md-scroll-y="" layout="column" flex="" class="_md layout-column flex">
	<div ng-include src="'views/top.html'"></div>
	<div class="container">
		<md-content>
		<!--<md-tabs md-dynamic-height md-border-bottom>
		<md-tab label="Ingestion Engine Instances">
		<md-content class="md-padding">-->
		<div ng-include src="'views/config/ingestion-engine-instances.html'"></div>
		<!--</md-content>
		</md-tab>-->
		<!--<md-tab label="System Configuration">
		<md-content class="md-padding">
		<div ng-include src="'views/config/system-configuration.html'"></div>
		</md-content>
		</md-tab>-->
		<!--</md-tabs>
		</md-content>
	</div>-->
	</md-content>
</div>