<div ng-include src="'views/core/core.top.html'"></div>
<div layout="column" tabindex="-1" role="main" flex="" class="layout-column flex">
  <md-content md-scroll-y="" layout="column" flex="" class="_md layout-column flex">
  <div ng-include src="'views/top.html'"></div>
  <div class="container">
    <h5>Customize Video - {{thisTemplate.name}}</h5>
    <div class="spacer"></div>
    <div class="card">
      <p ng-if="!nextSce">Enter required info to create a new video.</p>

      <p ng-if="nextSce === 1">Let's begin by providing some key info that will appears throughout my video.</p>

      <form ng-submit="create.onSubmit()" name="create.form" novalidate>
        <div class="spacer"></div>

        <formly-form model="create.model" fields="create.fields" options="create.options" form="create.form">

<br>

          <md-button ng-if="nextSce != 0" style="display:inline-block;" type="submit" class="btn red md-raised md-button md-ink-ripple" ng-disabled="create.form.$invalid">
  				 Next <i class="fa fa-arrow-right" aria-hidden="true" style=""></i></md-button>


          <div ng-if="nextSce === 0">Your video is now ready to be burned.

            <div class="spacer"></div>
          </div>

          <md-button ng-if="nextSce === 0" style="display:inline-block;" type="submit" class="btn red md-raised md-button md-ink-ripple" ng-disabled="create.form.$invalid">

           Burn  <i class="fa fa-play" aria-hidden="true" style=""></i></md-button>


          <a ng-hide="!create.loading" href="#/monitoring/jobs/status/onboard/{{create.jobStatus}}">Check Job Status</a>


  

        </formly-form>
      </form>
      <div class="spacer"></div>
      <div ng-if="create.selectedSourceTypes.id == '1'">
        <A HREF="#/ingestion/onboard/source">Dynamic Source Form</A>
      </div>
    </div>
  </div>
  </md-content>
</div>