<style>
  

md-grid-tile {
  transition: all 400ms ease-out 50ms; }


</style>


<div ng-include src="'views/core/core.top.html'"></div>
<div layout="column" tabindex="-1" role="main" flex="" class="layout-column flex">
  <md-content md-scroll-y="" layout="column" flex="" class="_md layout-column flex">
  <div ng-include src="'views/top.html'"></div>
  <div class="container">
    <p>Select a template to start your fire:</p>
    <div class="">


  <md-grid-list
        md-cols-xs="1" md-cols-sm="2" md-cols-md="2" md-cols-gt-md="3"
        md-row-height-gt-xs="1:1.35" md-row-height-md="1.8:3" md-row-height-gt-sm="1:2.3" md-row-height-gt-md="1:1.4" 
        md-gutter="12px" md-gutter-gt-sm="10px">

    <md-grid-tile class=""  ng-repeat="template in templates" style="">

<md-card>
        <!--<img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out">-->

<videogular vg-theme="config.theme" class="md-card-image">
              <vg-media vg-src="template.video"
              vg-tracks="config.tracks">
              </vg-media>
              <vg-controls>
              <vg-play-pause-button></vg-play-pause-button>
              <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
              <vg-scrub-bar>
              <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
              </vg-scrub-bar>
              <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
              <vg-volume>
              <vg-mute-button></vg-mute-button>
              <vg-volume-bar></vg-volume-bar>
              </vg-volume>
              <vg-fullscreen-button></vg-fullscreen-button>
              </vg-controls>
              <vg-overlay-play></vg-overlay-play>
              <vg-poster vg-url='template.thumb'></vg-poster>
            </videogular>


        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{template.name}}</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>
            The titles of Washed Out's breakthrough song and the first single from Paracosm share the
            two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
          </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">


            <a ng-href="#/burn/{{template.id}}">
 
                <md-button class="">Burn Video <i class="fa fa-arrow-right" aria-hidden="true" style=""></i></md-button>

            </a>

            <!--
          <md-button class="md-icon-button" aria-label="Favorite">
            <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
          </md-button>
          <md-button class="md-icon-button" aria-label="Settings">
            <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
          </md-button>
          <md-button class="md-icon-button" aria-label="Share">
            <md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>
          </md-button>

        -->
        </md-card-actions>
      </md-card>

    </md-grid-tile>
<!--
    <md-grid-tile class="green">
      <md-grid-tile-footer>
        <h3>#2: (1r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="yellow">
      <md-grid-tile-footer>
        <h3>#3: (1r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="blue"
        md-rowspan="2">
      <md-grid-tile-footer>
        <h3>#4: (2r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="red"
        md-rowspan="2" md-colspan="2" md-colspan-sm="1" md-colspan-xs="1">
      <md-grid-tile-footer>
        <h3>#5: (2r x 2c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="green"
        md-rowspan="2" >
      <md-grid-tile-footer>
        <h3>#6: (2r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

  -->

  </md-grid-list>

<!--
      <div layout="row">
        <div ng-repeat="template in templates" flex="33" class="card template">

          <h5>{{template.name}}</h5>
          
            <videogular vg-theme="config.theme">
              <vg-media vg-src="template.video"
              vg-tracks="config.tracks">
              </vg-media>
              <vg-controls>
              <vg-play-pause-button></vg-play-pause-button>
              <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
              <vg-scrub-bar>
              <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
              </vg-scrub-bar>
              <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
              <vg-volume>
              <vg-mute-button></vg-mute-button>
              <vg-volume-bar></vg-volume-bar>
              </vg-volume>
              <vg-fullscreen-button></vg-fullscreen-button>
              </vg-controls>
              <vg-overlay-play></vg-overlay-play>
              <vg-poster vg-url='template.thumb'></vg-poster>
            </videogular>

            <a ng-href="#/create/{{template.id}}">
 
                <md-button  style="display:inline-block;" type="button" class="btn red md-raised md-button md-ink-ripple">Create Video <i class="fa fa-arrow-right" aria-hidden="true" style=""></i></md-button>

            </a>
          
        </div>
      </div>

    -->
    </div>

  </div>
  </md-content>
</div>