<div ng-include src="'views/core/core.top.html'"></div>
<div layout="column" tabindex="-1" role="main" flex="" class="layout-column flex">
	<md-content md-scroll-y="" layout="column" flex="" class="_md layout-column flex">
	<div ng-include src="'views/top.html'"></div>
	<div class="container">
		<div class="" style="">
			<div ng-bind-html="iframeEmbed"></div>
			
			</iframe>
		</div>
		<div class="layout disabled">
			
			<div class="card disabled" flex="25">
				<!-- add `multiple` attribute to allow multiple sections to open at once -->
				<v-accordion id="my-accordion" class="vAccordion--default" multiple>
				<!-- add expanded attribute to open the section -->
				<v-pane expanded>
				<v-pane-header>
				Sources
				</v-pane-header>
				<v-pane-content>
				<div id="stencil-source"></div>
				</v-pane-content>
				</v-pane>
				<v-pane>
				<v-pane-header>
				Transformation
				</v-pane-header>
				<v-pane-content>
				<div id="stencil-transormation"></div>
				</v-pane-content>
				</v-pane>
				<v-pane>
				<v-pane-header>
				Target
				</v-pane-header>
				<v-pane-content>
				<div id="stencil-target"></div>
				</v-pane-content>
				</v-pane>
				<v-pane>
				<v-pane-header>
				Algorithm
				</v-pane-header>
				<v-pane-content>
				<div id="stencil-algorithm"></div>
				</v-pane-content>
				</v-pane>
				</v-accordion>
				
			</div>
			<div class="card" flex="70">
				
				<div class="row">
					
					<button class="btn blue md-raised md-button md-ink-ripple" ng-click="saveDiagram($event)" style="float:right;z-index:5;">
					Save
					</button>
				</div>
				<div class="row">
					
					<!--<div id="paper360">test2</div>-->
					<div id="paperDemo" class="paper" style="width:600px;"></div>
				</div>
				</div><!-- layout send -->
				</div><!-- End of card -->
				</md-content>
			</div>