<div ng-include src="'views/core/core.top.html'"></div>
<div layout="column" tabindex="-1" role="main" flex="" class="layout-column flex">
  <md-content md-scroll-y="" layout="column" flex="" class="_md layout-column flex">
  <div ng-include src="'views/top.html'"></div>
  <div class="container">
    <h5>Add a New Dataflow</h5>
    <div class="spacer"></div>
    <div class="card">
      <p>
        Easily customize your own data flow job for different use cases. Select an existing Data Flow job, or, create a new one below.
      </p>
      <div class="layout-row">
        <div flex="35">
          <md-input-container class="md-block flex-gt-sm" flex-gt-sm="">
          <label for="input_23">New Flow Name</label>
          <input ng-model="newFlowName" class="ng-pristine ng-valid md-input ng-empty ng-touched" id="input_23" aria-invalid="false" style="" value=""><div class="md-errors-spacer"></div><div class="md-errors-spacer"></div>
          </md-input-container>
        </div>
        <div flex="5">
        </div>
        <div flex="30" class="hidden">
          <md-input-container>
          <md-select ng-model="selectedSourceTypes" placeholder="Select a new source type" style="min-width:50px;">
          <md-option ng-value="i == 0 ? true:false" ng-repeat="(i,item) in sourceTypes" ng-value="Secret">{{ item.name }}</md-option>
          </md-select>
          </md-input-container>
        </div>
        <div flex="10">
        </div>
      </div>
      <button type="button" ng-click="addRow($index)" class="btn blue md-raised md-button md-ink-ripple sm-btn" style="">Add New</button>
    </div>
    <div class="spacer"></div>
    <h5>Existing Data Flows</h5>
    <div class="spacer"></div>
    <div class="card">
      
      <table st-table="dataflowsCollection" st-safe-src="dataflows" class="table table-striped table-bordered">
        <thead style="text-align:left;">
          <tr>
            <!--<th st-sort="id" width="100px">ID</th>-->
            <th st-sort="role" width="200px">Dataflow</th>
            <th>Operations</th>
          </tr>
          <tr>
            <th colspan="5">
              <md-input-container class="" style="margin: 10px 0 0;
              padding-bottom: 0;
              height: 35px;">
              <input id=""  st-search type="search" class="validate md-input"><div class="md-errors-spacer"></div>
              <label for="">Filter</label>
              </md-input-container>
            </th>
            <!--<input st-search placeholder="Search..." class="input-sm form-control" type="search"/></th>-->
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="row in dataflowsCollection">
            <!---<td>{{row.id}}</td>-->
            <td>
              <input class="form-control" type="text" ng-model="row.name" ng-show="row.editable">
              <span ng-hide="row.editable">{{row.name}}</span>
            </td>
            
            <td>
              
              <!--  <span ng-if="row.selected === false">
                <button type="button" ng-click="selectInstance($index)" class="btn orange md-raised md-button md-ink-ripple sm-btn" ng-hide="row.editable"> Switch </button>
              </span>
              <span ng-if="row.selected === true">
                  <button type="button" ng-click="" class="btn blue md-raised md-button md-ink-ripple sm-btn" ng-hide="row.editable"> Enabled </button>
              </span>-->
              <a ng-href="#/dataflow/{{row.id}}"><button type="button" class="btn gray md-raised md-button md-ink-ripple sm-btn" ng-hide=""> Edit Flow</button></a>
              <button type="button" ng-click="editRow($index)" class="btn gray md-raised md-button md-ink-ripple sm-btn" ng-hide="row.editable"> Edit Name</button>
              <button type="button" ng-click="saveRow($index)" class="btn blue md-raised md-button md-ink-ripple sm-btn" ng-show="row.editable"> Save</button>
              <button type="button" ng-click="removeRow($index)" class="btn gray md-raised md-button md-ink-ripple sm-btn"> Delete </button>
              
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    </md-content>
  </div>