<div ng-include src="'views/core/core.top.html'"></div>
<div layout="column" tabindex="-1" role="main" flex="" class="layout-column flex">
  <md-content md-scroll-y="" layout="column" flex="" class="_md layout-column flex">
  <div ng-include src="'views/top.html'"></div>
  <div class="container">
    <!--<h5>/create</h5>-->

<div class="card">
	
<h5>Burn (create) video</h5>
<p>You can start using VidFire in a few simple steps:
<ol>
	<li>Select a template from the VidFire Library</li>
	<li>Enter your info, using a short series of web forms</li>
	<li>Fire will burn and your video is created!</li>
	<li>Share your video with the world!</li>
</ol>
</p>

<h5>Video sizes</h5>
<p>You can can make videos in three sizes; Mobile(720p), Web(1080p), and HD. Depending on the subscription package, review your package here.</p>

<h5>Uploading Input Media</h5>
<p>When making a video, you will have to upload high quality photos. You may use the file uploader, but it's recommended that you connect your Dropbox here.</p>

<h5>Connecting Dropbox</h5>
<p>By connecting to Dropbox your </p>

<h5>Sharing video</h5>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<h5>Youtube</h5>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>


<h5>RabbitMQ</h5>
<p>Rabbit acts as the message broker, delivering jobs to workers who perform the video creation tasks. Make sure it's running by going to http://HOST:15672/</p>

<h5>Job Status</h5>
<p>When brunning a new video, it's status will change until the job is done. 

<ol>
	<li><span class="status_message s1">New</span> - You launched the creation of a new fire by provided all required inputs like text and media.</li>

	<li><span class="status_message s2">Ignited</span> - Your fire has started, but we are waiting for resources to free up, so it can really start burnning!</li>

	<li><span class="status_message s3">Burnning</span> - Now your fire is burnning full force, and the video is about to be made.</li>
	<li><span class="status_message s4">Competed</span> - The fire finished and the video is ready for you!</li>
	<li><span class="status_message s5">Failed</span> - Your fire went out, the video wasn't burnned because of some complications, probably a thunder strom!</li>
</ol>

</p>


</div>

  </div>
  </md-content>
</div>