<div ng-include src="'views/core/core.top.html'"></div>
<div layout="column" tabindex="-1" role="main" flex="" class="layout-column flex">
	<md-content md-scroll-y="" layout="column" flex="" class="_md layout-column flex">
	<div ng-include src="'views/top.html'" ng-cloak></div>
	<div class="container" style="padding-bottom: 0px;">
		<div flex="15">
			<md-button ng-click="addNewWidget()" flex="50" class="btn white"><i class="fa fa-plus" aria-hidden="true"></i> Widget </md-button>
		</div>
	</div>
	<div class="container" id="widgets" ng-cloak>
		
		<div class="sortable-container grid" sv-root sv-part="widgets">
			
			<my-directive ng-repeat="item in widgets track by $index" sv-element="opts" class="well grid card" style="float:left;width:{{item.width}}%;height:400px;max-height:{{item.height}}px;overflow: auto;" ng-class="checkStatus(item.status)">
				<div class="item-name">{{item.name}}</div>
				<div ng-include src="item.template" style=""></div>
				<span sv-handle><i class="fa fa-arrows" aria-hidden="true" style="    color: #d6d6d6;
				    position: absolute;
				    top: 7px;
				    right: 26px;
				    cursor: move;
				    font-size: 15px;"></i></span>
					<i ng-click="deleteWidget(item,$index)" class="fa fa-close" aria-hidden="true" style="color: #d6d6d6;
					position: absolute;
					top: 5px;
					right: 5px;
					cursor: pointer;
					outline: none;"></i>
			</div>
		</my-directive>
		{{vm.user.firstName}}
		<li ng-repeat="user in vm.allUsers">
			{{user.username}} ({{user.firstName}} {{user.lastName}})
			- <a href="#" ng-click="vm.deleteUser(user.id)">Delete</a>
		</li>
	</div>
	</md-content>
</div>