<div ng-include src="'views/core/core.top.html'"></div>
<div layout="column" tabindex="-1" role="main" flex="" class="layout-column flex">
  <md-content md-scroll-y="" layout="column" flex="" class="_md layout-column flex">
  <div ng-include src="'views/top.html'"></div>
  <div class="container">
    <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
    <md-tab label="Metadata">
    <md-content class="md-padding">
    <div ng-include src="'views/ingestion/metadata.html'"></div>
    </md-content>
    </md-tab>
    <md-tab label="Source On Boarding">
    <md-content class="md-padding">
    <div ng-include src="'views/ingestion/onboarding.html'"></div>
    </md-content>
    </md-tab>
    <!--
    <md-tab label="Manual">
    <md-content class="md-padding">
    <div ng-include src="'views/ingestion/manual.html'"></div>
    </md-content>
    </md-tab>
    <md-tab label="Scheduled">
    <md-content class="md-padding">
    <div ng-include src="'views/ingestion/scheduled.html'"></div>
    </md-content>
    </md-tab> -->
    <md-tab label="Ingest">
    <md-content class="md-padding">
    <div ng-include src="'views/ingestion/ingest.html'"></div>
    </md-content>
    </md-tab>
    </md-tabs>
    </md-content>
  </div>
  </md-content>
</div>