<div ng-include src="'views/core/core.top.html'"></div>
<div layout="column" tabindex="-1" role="main" flex="" class="layout-column flex">
  <md-content md-scroll-y="" layout="column" flex="" class="_md layout-column flex">
  <div ng-include src="'views/top.html'"></div>
  <div class="container">
    <!--<h5>/create</h5>-->

	<div class="card">
	
	<mdt-table 

	table-card="{visible: false}"
	alternate-headers="'contextual'"
	delete-row-callback="deleteRowCallback(rows)"
	paginated-rows="{isEnabled: true, rowsPerPageValues: [10,25,50,100]}"
	
	mdt-row="

	{

	data: jobsList,
	'table-row-id-key': 'id',
	'column-keys': 

		['title','status','video.phone','owner','date_created','template.id']

	}

	">
	<mdt-header-row>
	<mdt-column align-rule="left" column-sort="true">Name</mdt-column>
	<mdt-column align-rule="left" column-sort="true">Status</mdt-column>
	<mdt-column align-rule="left" column-sort="true">Video</mdt-column>
	<mdt-column align-rule="left" column-sort="true">Owner</mdt-column>
	<mdt-column align-rule="left" column-sort="true" sortable-rows-default>Create Date</mdt-column>
	<mdt-column align-rule="left">Opperations</mdt-column>

	</mdt-header-row>


	<mdt-custom-cell column-key="status">

		<div class="status_message {{value}}">{{value}}</div>

	</mdt-custom-cell>


	<mdt-custom-cell column-key="video.phone">

			<div ng-show="value">
				
				<a ng-href="{{value}}" style="display:inline-block;"><button type="button" class="btn sm-tbl-btn gray md-raised md-button md-ink-ripple">Download <i class="fa fa-cloud-download" aria-hidden="true" style=""></i></button></a>


				<a ng-href="/#/watch/{{rowId}}" target="_blank" style="display:inline-block;"><button type="button" class="btn sm-tbl-btn gray md-raised md-button md-ink-ripple">Watch <i class="fa fa-film" aria-hidden="true" style=""></i></button></a>


				<a ng-href="/#/share/youtube/{{rowId}}" target="_blank" style="display:inline-block;">
					 <button class="btn sm-tbl-btn md-raised red md-ink-ripple md-button" class="">Share on <i class="fa fa-youtube" aria-hidden="true" style=""></i></button>
				</a>

			</div>

	</mdt-custom-cell>

	<mdt-custom-cell column-key="template.id">

	<a ng-href="/#/burn/{{value}}/{{rowId}}" style="display:inline-block;" ><button type="button" class="btn sm-tbl-btn gray md-raised md-button md-ink-ripple">Edit <i class="fa fa-edit" aria-hidden="true" style=""></i></button></a>

<!--
	<a ng-href="/#/" style="display:inline-block;" ><button type="button" class="btn sm-tbl-btn gray md-raised md-button md-ink-ripple">Copy <i class="fa fa-arrow-right" aria-hidden="true" style=""></i></button></a>
-->
	<a ng-href="/#/status/{{rowId}}" style="display:inline-block;" ><button type="button" class="btn sm-tbl-btn gray md-raised md-button md-ink-ripple"> Log <i class="fa fa-list-ul" aria-hidden="true" style=""></i></button></a>

	</mdt-custom-cell>



	</mdt-table>



  </div>
  </md-content>
</div>