<div ng-include src="'views/core/core.top.html'"></div>
<div layout="column" tabindex="-1" role="main" flex="" class="layout-column flex">
  <md-content md-scroll-y="" layout="column" flex="" class="_md layout-column flex">
  <div ng-include src="'views/top.html'"></div>
  <div class="container">
    <!--<h5>/create</h5>-->

	<div class="card">


	<div ng-show="videosList == null">You have no items in the library yet, burn you first fire. <a ng-href="#/burn"><md-button class="">Burn Video <i class="fa fa-arrow-right" aria-hidden="true" style=""></i></md-button></a></div>
	
	
	<mdt-table ng-show="videosList != null"

	table-card="{visible: false}"
	alternate-headers="'contextual'"
	delete-row-callback="deleteRowCallback(rows)"
	paginated-rows="{isEnabled: true, rowsPerPageValues: [10,25,50,100]}"
	
	mdt-row="

	{

	data: videosList,
	'table-row-id-key': 'id',
	'column-keys': 

		['name','job','template','uri','date_created','share']

	}

	">
	<mdt-header-row>
	<mdt-column align-rule="left" column-sort="true">Name</mdt-column>
	<mdt-column align-rule="left" column-sort="true">Job</mdt-column>
	<mdt-column align-rule="left" column-sort="true">Template</mdt-column>
	<mdt-column align-rule="left" column-sort="true">Uri</mdt-column>

	<mdt-column align-rule="left" column-sort="true" sortable-rows-default>Create Date</mdt-column>


	<mdt-column align-rule="left" column-sort="true">Share</mdt-column>

	</mdt-header-row>


	<mdt-custom-cell column-key="share">

	<a ng-href="/#/share/youtube/{{rowId}}" style="display:inline-block;" ><button type="button" class="btn sm-tbl-btn gray md-raised md-button md-ink-ripple"> <i class="fa fa-youtube" aria-hidden="true" style=""></i></button></a>

	{{value.}}

	</mdt-custom-cell>



	</mdt-table>

  </div>
  </md-content>
</div>