<div class="card" style="margin:auto;max-width:500px;">
    <div flex>
        <a ng-href="/" class="docs-logo" href="/">
            <img id="logo" src="images/vidfire_logo.png" alt="">
            <h1  class="docs-logotype md-heading" style="display:none;">VidFire</h1>
        </a>
    </div>
    <div flex>
        <div layout="row">
            <div layout="column" flex id="content" role="main">
                <md-content layout="vertical" flex id="content">
                <div layout="row" layout-align="" layout-fill>
                    <form name="form" ng-submit="vm.login()" role="form" novalidate>
                        <md-whiteframe class="md-whiteframe-z1" layout="column" flex layout-padding>
                        <md-content>
                        <md-input-container  ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
                        <label for="email">Email</label>
                        <input name="email" id="email" ng-model="vm.email" required>
                        <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Email is required</span>
                        </md-input-container>
                        <md-input-container ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                        <label for="password">Password</label>
                        <input  type="password" name="password" id="password" ng-model="vm.password" type="password" required>
                        <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
                        </md-input-container>
                        <md-progress-linear ng-if="vm.dataLoading" md-mode="indeterminate"></md-progress-linear>
                        <md-input-container layout-align="center center">
                        <div layout="row form-actions" layout-sm="column" layout-margin>
                            <md-button class="btn md-raised red" flex="100" flex-sm="100" type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Login</md-button>
                        </div>
                        </md-input-container>
                        </md-content>
                        </md-whiteframe>
                    </form>
                </div>
                </md-content>
            </div>
        </div>

                <div class="row" style="margin:auto;text-align:center;">
                                       <p>Not a member yet? <a ng-href="#/register">Get a VidFire ID</a></p> 
                </div>

    </div>