<div class="spacer"></div>
<a ng-href="/#/" class="docs-logo" href="/">
            <img id="logo" src="images/vidfire_logo.png" alt="">
            <h1  class="docs-logotype md-heading" style="display:none;">VidFire</h1>
</a>
<div>
    <div ng-controller="TestCtrl as vm" >
        <md-content flex="" role="navigation" class="_md flex">
        <ul class="docs-menu">
            <!--<li class="bold parent-list-item"><a href="#/" class="md-button md-ink-ripple"><i class="fa fa-tachometer" aria-hidden="true"></i>
            Dashboard</a></li>-->
            <!--<li class="bold parent-list-item"><a href="#/monitoring" class="md-button md-ink-ripple"><i class="fa fa-eye" aria-hidden="true"></i>
            Monitoring</a></li>-->
            <li ng-repeat="section in vm.menu.sections"
                ng-class="{'parentActive' : vm.isSectionSelected(section)}">
                <h2 class="menu-heading" ng-if="section.type === 'heading'"
                id="heading_{{ section.name | nospace }}">
                {{section}}
                </h2>
                
                <menu-link section="section" ng-if="section.type === 'link' && vm.checkPermission(section.permissionId)"></menu-link>
                
                <menu-toggle section="section" ng-if="section.type === 'toggle' && vm.checkTogglePermission(section)"></menu-toggle>

            </li>
            <!--<li class="bold parent-list-item"><a href="#/security" class="md-button md-ink-ripple"><i class="fa fa-shield" aria-hidden="true"></i>
            Security</a></li>-->
            <!--<li class="bold parent-list-item"><a href="#/dataflow" class="md-button md-ink-ripple"><i class="fa fa-spinner" aria-hidden="true"></i>
            Dataflow</a></li>-->
            <!--<li class="bold parent-list-item"><a href="#/configuration" class="md-button md-ink-ripple"><i class="fa fa-wrench" aria-hidden="true"></i>
            Configuration</a></li>-->
        </ul>
        </md-content>
    </div>
</div>