<div ng-include src="'views/core/core.top.html'"></div>
<div layout="column" tabindex="-1" role="main" flex="" class="layout-column flex">
	<md-content md-scroll-y="" layout="column" flex="" class="_md layout-column flex">
	<div ng-include src="'views/top.html'"></div>
	<div class="container">
		
		<div class="card">
			<div class="layout">
				<div flex="60"><p>Monitor your data ingestion jobs for both batch and streaming sources;</p></div>
				<div flex="40">
					<div><p style="font-size: 12px;"><span style="font-size: 10px;" class="gb_uc status-green">Green</span> # of Records Successfully Ingested.</p> </div>
					<div><p style="font-size: 12px;"><span style="font-size: 10px;" class="gb_uc status-yellow">Orange</span> # of Records Ingested Successfully, with Missing Info.</p> </div>
					<div><p style="font-size: 12px;"><span style="font-size: 10px;" class="gb_uc status-red">Red</span> # of Records that Failed Ingestion.</p></div>
				</div>
			</div>
			<div class="status-green gb_uc disabled" ng-click="showOperationsDialog($event)"></div>
			<div class="status-yellow gb_uc disabled"></div>
			<div class="status-red gb_uc disabled"></div>
			<div id="paper">
				<div class="line" id="line1"></div>
				<div class="line" id="line2"></div>
				<div class="line" id="line3"></div>
				<div id="streams" class="opart opartsm md-whiteframe-5dp">Streams
					<op-status info="streams" view="single"></op-status>
				</div>
				<div id="batch" class="opart opartsm md-whiteframe-5dp">Batch
					<op-status info="batch" view="single"></op-status>
				</div>
				<div id="ofz" class="opart opartlg md-whiteframe-5dp">OFZ
					<op-status info="ofz" view="couple"></op-status>
					
				</div>
				<div id="tsz" class="opart opartlg md-whiteframe-5dp">TSZ
					<op-status info="tsz" view="couple"></op-status>
				</div>
			</div>
		</div>
	</div>
	</md-content>
</div>