<div ng-include src="'views/core/core.top.html'"></div>
<div layout="column" tabindex="-1" role="main" flex="" class="layout-column flex">
	<md-content md-scroll-y="" layout="column" flex="" class="_md layout-column flex">
	<div ng-include src="'views/top.html'"></div>
	<div class="container">
		<div class="card">
			
			<div ng-controller="OpsjsjqCtrl" class="dialogdemoBasicUsage" id="popupContainer" ng-cloak="">
				<div class="row hidden">
					
					<button class="btn blue md-raised md-button md-ink-ripple" ng-click="showOperationsDialog($event)" style="float:right;">
					Temp Stream
					</button>
					<button class="btn blue md-raised md-button md-ink-ripple" ng-click="showBatchDialog($event)" style="float:right;">
					Temp Batch
					</button>
					<button class="btn blue md-raised md-button md-ink-ripple" ng-click="operationsDetails($event,'ofz','completed')" style="float:right;">
					Green
					</button>
				</div>
				<div class="row">
					
					<div id="paper"></div>
				</div>
			</div>
			</div><!-- End of card -->
			
			<div class="card disabled">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
				<div id="paper">
					<div class="line" id="line1"></div>
					<div class="line" id="line2"></div>
					<div class="line" id="line3"></div>
					<div id="streams" class="opart opartsm md-whiteframe-18dp">streams</div>
					<div id="batch" class="opart opartsm md-whiteframe-18dp">batch</div>
					<div id="ofz" class="opart opartlg md-whiteframe-18dp">ofz
						<div op-status info="ofz"></div>
						
					</div>
					<div id="tsz" class="opart opartlg md-whiteframe-18dp">tsz
						<div op-status info="tsz"></div>
					</div>
				</div>
			</div>
		</div>
		</md-content>
	</div>