<div class="card" style="margin:auto;max-width: 500px;width: 90%;">
    <div flex>
        <a ng-href="/" class="docs-logo" href="/">
            <img id="logo" src="images/vidfire_logo.png" alt="">
            <h1  class="docs-logotype md-heading" style="display:none;">VidFire</h1>
        </a>
    </div>

     <div flex>   


        <div class="errors">
            <div ng-repeat="error in vm.errors">
                <li class="errormsg ">{{error}}</li>
            </div>
        </div>
    

    <md-content>
        <form ng-submit="vm.register()" name="vm.form" novalidate>
            <md-whiteframe class="md-whiteframe-z1 layout-padding layout-column flex" layout="column" flex="" layout-padding="">
                <formly-form model="vm.model" fields="vm.fields" options="vm.options" form="vm.form">
                </formly-form>
                <md-button type="submit" class="btn md-raised red md-ink-ripple" ng-disabled="vm.form.$invalid" flex="100" flex-sm="100">Register</md-button>
            </md-whiteframe>
        </form>
    </md-content>

     </div>

</div>


