<div class="card" style="margin:auto;max-width: 500px;width: 90%;">
    <div flex>
        <a ng-href="/" class="docs-logo" href="/">
            <img id="logo" src="images/vidfire_logo.png" alt="">
            <h1  class="docs-logotype md-heading" style="display:none;">VidFire</h1>
        </a>
    </div>

     <div flex style="text-align:center; margin: 3% 17% 4%">   


        <div class="errors">
            <div ng-repeat="error in vm.errors">
                <li class="errormsg ">{{error}}</li>
            </div>
        </div>
    

    <md-content>

    <h1>Confirm your Email</h1>
    
    <p>To start burning vids... Please check your email and click on the verification link.</p>


    </md-content>

     </div>

</div>


