<div ng-include src="'views/core/core.top.html'"></div>
<div layout="column" tabindex="-1" role="main" flex="" class="layout-column flex">
  <md-content md-scroll-y="" layout="column" flex="" class="_md layout-column flex">
  <div ng-include src="'views/top.html'"></div>
  <div class="container">
    <h5>{{jStat}}</h5>
    <div class="card">
      <div class="">
        
      	<div ng-bind-html-unsafe="expression" ng-repeat="message in messages" class="status_message">

         <!--<div style="color:red;">{{message}}<br>
            {{message.status}}
          </div>-->

          <div ng-show="message.status == 'queued'">
              Your fire <b>{{message.jobName}}</b> is about to start, just waiting for other fires to finish. This won't take long! Keep this page open for live updates.
          </div>
          
          <div ng-show="message.status == 'started_AE_processing'">
               Fire started 🔥
          </div>

          <div ng-show="message.status == 'completed'">

              🔥🔥🔥 Your fire has burned successfully 🔥🔥🔥

            <div ng-repeat="video in message.data">

              Here is the shareable link for the size video <a target='_blank'  href='http://www.vidfire.ca/#/watch/{{jobId}}'>http://www.vidfire.ca/#/watch/{{jobId}}</a><br>
              Download the .MP4 video format <a target='_blank' href='{{video}}'>here</a><br>
              Share on YouTube <a target='_blank' href='/#/share/youtube/{{jobId}}'>here</a><br>
              Share on Facebook <a target='_blank' href='/#/share/facebook/{{jobId}}'>here</a><br>

            </div>

          </div>



          <div ng-show="message.youtubeToken == 'good'">
              Youtube authentication token is good.
          </div>

          <div ng-show="message.youtubeToken == 'expired'">
              Your Youtube token is expired. Please login again 
              <div ng-controller="ShareYoutubeCtrl"> 
                 <button class="btn md-raised red md-ink-ripple md-button" ng-click="oauthSignIn(thisJob.id)" class="">Share Video <i class="fa fa-youtube" aria-hidden="true" style=""></i></button>
              </div>

          </div>


        </div>
      </div>
    </div>
  </div>
  </md-content>
</div>