<div ng-include src="'views/core/core.top.html'"></div>
<div layout="column" tabindex="-1" role="main" flex="" class="layout-column flex">
	<md-content md-scroll-y="" layout="column" flex="" class="_md layout-column flex">
	<div ng-include src="'views/top.html'"></div>
	<div class="container">
		<!--<h5>/create</h5>-->
		<div class="card" ng-show="list">
			<mdt-table
			table-card="{visible: false}"
			alternate-headers="'contextual'"
			delete-row-callback="deleteRowCallback(rows)"
			paginated-rows="{isEnabled: true, rowsPerPageValues: [10,25,50,100]}"
			
			mdt-row="
			{
			data: jobsList,
			'table-row-id-key': 'id',
			'column-keys':
			['thumb','name','id','opp','delete']
			}
			">
			<mdt-header-row>
			<mdt-column align-rule="left" column-sort="true">Preview</mdt-column>
			<mdt-column align-rule="left" column-sort="true" sortable-rows-default>Name</mdt-column>
			<mdt-column align-rule="left" column-sort="true">id</mdt-column>
			<mdt-column align-rule="left">Edit</mdt-column>
			</mdt-header-row>
			<mdt-custom-cell column-key="thumb">
			<img src="{{value}}" alt="" width="100">
			</mdt-custom-cell>
			<mdt-custom-cell column-key="opp">

			<a ng-href="/#/templates/{{rowId}}" style="display:inline-block;" ><button type="button" class="btn sm-tbl-btn gray md-raised md-button md-ink-ripple"> Edit <i class="fa fa-pencil" aria-hidden="true" style=""></i></button></a>

			<!--<a ng-href="/#/templates/delete/{{rowId}}" style="display:inline-block;" ><button type="button" class="btn sm-tbl-btn gray md-raised md-button md-ink-ripple"> Delete <i class="fa fa-remove" aria-hidden="true" style=""></i></button></a>-->

			</mdt-custom-cell>

			</mdt-table>

			<a ng-href="/#/templates/add"><md-button class="btn md-raised red md-ink-ripple">Add Template</md-button></a>


		</div>

		<div class="card" ng-show="edit">


			<md-content>
				<form ng-submit="tmp.save()" name="tmp.form" novalidate>
					<md-whiteframe class="md-whiteframe-z1 layout-padding layout-column flex" layout="column" flex="" layout-padding="">
					<formly-form model="tmp.model" fields="tmp.fields" options="tmp.options" form="tmp.form">
					</formly-form>

					<div class="errors">
			            <div ng-repeat="error in tmp.errors">
			                <li class="errormsg ">{{error}}</li>
			            </div>
			        </div>

					<md-button type="submit" class="btn md-raised red md-ink-ripple" ng-disabled="tmp.form.$invalid" flex="100" flex-sm="100">Save</md-button>

			        <small ng-if="modified_by">
			        	
			        	Last Modified by {{modified_by}} on {{date_modified}}. <a ng-click="deleteTemplate()">Delete template</a>

			        </small>




				</md-whiteframe>
				</form>
			</md-content>

		</div>
	</div>
</div>
</md-content>
</div>