<md-toolbar class="md-whiteframe-glow-z1 site-content-toolbar _md _md-toolbar-transitions">
<div class="md-toolbar-tools docs-toolbar-tools" tabindex="-1" ng-controller="navCtrl as ctrl" >
  <div layout="row" flex="" class="fill-height layout-row flex">
    <h2 class="md-toolbar-item md-breadcrumb md-headline" style="width: 100%;">
    <span class="md-breadcrumb-page ng-binding page-title"><i class="fa fa-{{ icon }}" aria-hidden="true"></i><span ng-bind-html="altImg"></span> {{ pagetitle  }}</span>
    </h2>
    <span flex="" class="flex-70"></span>
    <div class="md-toolbar-item docs-tools layout-row" ng-controller="navCtrl as ctrl" ng-cloak>
      <md-menu md-position-mode="target-right target">
      <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="ctrl.openMenu($mdOpenMenu, $event)">
      <i class="fa fa-bars" aria-hidden="true"></i>
      </md-button>
      <md-menu-content width="4">
      
      <md-menu-item>
      <md-button>
      <i class="fa fa-user-circle" aria-hidden="true"></i>
      {{currentUser}}
      </md-button>
      </md-menu-item>
      <md-menu-divider></md-menu-divider>
      <md-menu-item>
      <md-button ng-click="ctrl.go('#/logout')">
      <i class="fa fa-sign-out" aria-hidden="true"></i>
      Logout
      </md-button>
      </md-menu-item>
      </md-menu-content>
      </md-menu>
    </div>
    <span flex="" class="flex"></span> <!-- use up the empty space -->
    <div class="md-toolbar-item docs-tools layout-row" layout="row">
    </div>
  </div>
</div>
</md-toolbar>