<!--<p>This is the watch view. {{vidURI}} {{vidName}}</p>-->
<style>
	
videogular vg-scrub-bar .container, [videogular] vg-scrub-bar .container {
	background: transparent;
	}
	#main{
		margin: auto;
display: block;
	}
	#sig{
		margin: 10px;
		color: black;
		font-size: 9px;
		background: white;
		padding: 0px 5px 3px;
		border-radius: 17px;
		margin: auto;
		display: block;
		width: 90px;
		margin-top: 15px;
    	}
	#sig img{
			width: 45px;
		}
	#sig span{
		position: relative;
top: -4px;
	}



.shake:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}


/* The starting CSS styles for the enter animation */
.fade.ng-enter {
  transition:2s linear all;
  opacity:0;
}

/* The finishing CSS styles for the enter animation */
.fade.ng-enter.ng-enter-active {
  opacity:1;
}

</style>
<div id="main" ng-if="loaded" class="fade">
	<div>
		
		<videogular vg-player-ready="onPlayerReady($API)" vg-theme="config.theme" class="md-card-image">
			<vg-media vg-src="vidURI"
			vg-tracks="config.tracks">
			</vg-media>
			<vg-controls>
			<vg-play-pause-button></vg-play-pause-button>
			<vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
			<vg-scrub-bar>
			<vg-scrub-bar-current-time></vg-scrub-bar-current-time>
			</vg-scrub-bar>
			<vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
			<vg-volume>
			<vg-mute-button></vg-mute-button>
			<vg-volume-bar></vg-volume-bar>
			</vg-volume>
			<vg-fullscreen-button></vg-fullscreen-button>
			</vg-controls>
			<!--<vg-overlay-play></vg-overlay-play>-->
			<!--<vg-poster vg-url='config.poster'></vg-poster>-->
		</videogular>
	</div>
	<a href="/#/register">
		<div id="sig" class="shake">
			<span>Made with</span>  <img src="/images/vidfire_logo.png" alt="">
		</div>
	</a>
</div>