<div ng-controller="MonitoringCtrl">
	<div class="stats">
		<div ng-class="{'md-whiteframe-5dp': hover.green }" ng-mouseenter="hover.green = true;" ng-mouseleave="hover.green = false;" class="status-green gb_uc md-whiteframe-2dp" ng-click="showOperationsDialog($event,info)">
			{{ state[info].green | number}}
		</div>
		<div ng-class="{'md-whiteframe-5dp': hover.yellow }" ng-mouseenter="hover.yellow = true;" ng-mouseleave="hover.yellow = false;" class="status-yellow gb_uc md-whiteframe-2dp" ng-click="showOperationsDialog($event,info)">
			{{ state[info].yellow | number}}
		</div>
		<div ng-class="{'md-whiteframe-5dp': hover.red }" ng-mouseenter="hover.red = true;" ng-mouseleave="hover.red = false;" class="status-red gb_uc md-whiteframe-2dp" ng-click="showOperationsDialog($event,info)">
			{{ state[info].red | number }}
		</div>
	</div>
	<label></label>
	<span></span> <br/>
</div>