<md-dialog aria-label="Ingestion Streams" style="width: 45%;" ng-controller="MonitoringCtrl">
<form>
  <md-toolbar>
  <div class="md-toolbar-tools {{ msgStatus }}">
    <h2>{{ popData.headline }}</h2>
    <span flex></span>
    <md-button class="md-icon-button" ng-click="cancel()">
    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
    </md-button>
  </div>
  </md-toolbar>
  <md-dialog-content style="max-width:800px;max-height:75%; padding:20px; ">
  <table class="bordered streams" width="100%">
    <thead>
      <tr>
        <th data-field="" ng-repeat="label in popData.labels">{{ label }}</th>
        
      </tr>
    </thead>
    <div class="spacer"></div>
    <tbody>
      <tr data-field="" ng-repeat="data in popData.data[msgStatus]">
        <td ng-repeat="item in data">{{item}}</td>
        
      </tr>
      
    </tbody>
  </table>
  </md-dialog-content>
  <md-dialog-actions layout="row">
  <md-button ng-click="answer('useful')" style="margin-right:20px;" >
  OK
  </md-button>
  </md-dialog-actions>
</form>
</md-dialog>